.green{
    color: #19ad68 !important;
    font-weight: 500;
}

.Yellow{
    color: #f79531 !important;
    font-weight: 500;
}
::ng-deep.mat-paginator-container{
    margin-bottom: 15px !important;
}