
 .wrap-form-field.padding-space {
    padding: 30px 0;
  }
  .tab{
    background-color: #dbcbcb45;
    padding: 10px;
  }
  a.new-action {
    cursor: pointer;
  }
  .docTab{
    background-color: #e9ecef;
    padding: 8px;
    border-radius: 7px;
    margin: 3px;
    display: flex;
    justify-content: space-between;
  }
  h1 {
    font-size: 12px;
    color: var(--link-text-color);
    margin-bottom: 14px;
    text-transform: capitalize;
  }
  
  .menuright {
      position: fixed;
      right: 0;
      top: 40%;
      width: 10px;
      margin: -2.5em 0 0 0;
      z-index: 5;
      background: var(--theme-white-background-color);
      color: var(--link-text-color);
      font-weight: bold;
     
      text-align: left;
      
      padding: 10px 30px 10px 0px;
      box-shadow: var(--theme-shadow);
      border-radius: 10px 0 0px 10px;
    }
    .menuright li{
  
      width: 30px;
      border-bottom: 1px solid var(--theme-border-color-light);
      list-style: none;
      padding: 0px 0 0px 3px;
    }
    .menuright li:last-child{
  
      border-bottom:0;
     
    }
    .menuright li i {
      font-size: 21px;
      color: var(--link-text-color);
  }
  
  
  .switch {
      position: relative;
      display: inline-block;
      width: 55px;
      height: 28px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 3px;
      background-color: var(--link-text-color);
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #ECEEF4;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #ECEEF4;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
  
    .filupp > input[type="file"]
  {
    position: absolute;
    width:1px;
    height: 1px;
    padding:0; 
    margin: -1px;
    overflow: hidden;  
    border:0
  }
   
  
  .filupp 
  {
  
    position: relative;
    border-bottom: 1px solid var(--theme-border-bottom-color);
    display: block;
    padding: 5px;
    width: 100%;
    height: 3.5em;
    font-size: 12px;
      font-weight: 600;
      line-height: 1.5;
      color: #212529;
    cursor: pointer;
    
  }
    
  
   /* .filupp:before{
    content: "";
    position: absolute;
    top: 1.5em;
    right: .75em;
    width: 2em;
    height: 1.25em;
    border: 3px solid #dd4040;
    border-top: 0;
    text-align: center
  
  }   */
    
    
  
  .filupp:after
  {
    font-family: "Font Awesome 5 Free", sans-serif;
    content: "\f0c6";
    
    position: absolute;
    top: .85em ;
    right: .45em;
    font-size: 1.3em;
    color:  #007BFF;
    line-height: 0;
  
  }
    
  
  .filupp-file-name{
  
    width: 75%;
    
  }
 
