<ng-container>

  <div class="table-header-area pt-3">
    <div>
      <table-filters [TDP]="[false, false, true, true]" (filterInput)="applyFilter($event)" (onClickExport)="export()">
      </table-filters>
    </div>
    <div class="header-right" *ngIf="!isShow && buttonDisabled">

      <a (click)="addinwardcontainerhandover()" class="max-con new-action  btn btn-outline-primary btn-sm rounded-pill">New Inward HandOver</a>
    </div>
  </div>

  <div class="table-card">
    <div class="table-design example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort summary="agreement">

        <!-- ID Column -->
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element">{{ element?.id }}</td>
        </ng-container>

        <!-- Dispatch Date -->
        <ng-container matColumnDef="containerNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>containerNo</th>
          <td mat-cell *matCellDef="let element" class="text-start">
            {{ element?.containerNo }}
          </td>
        </ng-container>

        <!-- Surveyor Name -->
        <!-- <ng-container matColumnDef="sizeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Size Name</th>
          <td mat-cell *matCellDef="let element" class="text-end">
            {{ element?.sizeName }}
          </td>
        </ng-container> -->

        <!-- Dispatch Package -->
        <ng-container matColumnDef="emptyGatePassNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Empty GatePass No</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.emptyGatePassNo }}
          </td>
        </ng-container>

        <!-- Dispatch Package -->
        <!-- <ng-container matColumnDef="gatePassNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Gate Pass No</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.gatePassNo }}
          </td>
        </ng-container> -->

        <!-- Transporter Ledger -->
        <ng-container matColumnDef="emptyGatePassDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Empty GatePass DateTime</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.emptyGatePassDateTime | date: 'dd-MM-yyyy HH:mm:ss' }}
          </td>
        </ng-container>
        <!-- Transporter Ledger -->
        <!-- <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.status }}
          </td>
        </ng-container> -->

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <div class="wrap-inside icon-space">
                 <span nz-tooltip nzTooltipTitle="Clone" ><a class="text-dark" (click)="onOpenEdit(element.inwardcontainerhandoverId,'clone')"><em class="bi-icon-sz bi bi-bookmarks"></em> </a></span>
              <span nz-tooltip nzTooltipTitle="Edit ICH" class="mtop" *ngIf="!isShow && buttonDisabled">
                <a (click)="onOpenEdit(element.inwardcontainerhandoverId)">
                  <em class="bi-icon-sz bi bi-pencil color-pencil-red"></em>
                </a>

              </span>
              <span nz-tooltip nzTooltipTitle="Delete ICH" class="mtop" *ngIf="!isShow && buttonDisabled">
                <a (click)="onDeleteDispatch(element.inwardcontainerhandoverId)">
                  <em class="bi-icon-sz bi bi-trash color-pencil-red"></em>
                </a>
              </span>
            </div>
          </td>
        </ng-container>

        <!-- Table Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- No Data Row -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
            <span *ngIf="loaderService?.isLoadingcircle">{{ _gc?.LOADER_TEXT }}</span>
            <span *ngIf="!loaderService?.isLoadingcircle && !dataSource?.data?.length">
              No data available
            </span>
          </td>
        </tr>
      </table>
    </div>

    <!-- Pagination -->
    <div [ngClass]="{ 'display-none': dataSource.filteredData.length < 10 }">
      <mat-paginator [pageSizeOptions]="pagenation" showFirstLastButtons aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</ng-container>

<!-- Conditional Component -->
<ng-container *ngIf="['addconsolidate', 'cloneBl', 'add', 'edit', 'show'].includes(currentUrl)">
  <app-new-stolt-bl [isType]="currentUrl" (CloseBillSection)="onBillAction($event)">
  </app-new-stolt-bl>
</ng-container>

<!-- Modal Template -->
<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close shadow-none" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body mt-4">
      <em class="ion-ios7-help-outline text-danger fs-2 text-center float-start me-2"></em>
      <span class="text-dark fs-6">{{ "error.msg_delete" | translate }}</span>
    </div>
    <div class="modal-footer text-center">
      <button type="button" class="btn btn-secondary btn-sm me-3" (click)="d('Cross click')">No</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="c('yes')">Yes</button>
    </div>
  </div>
</ng-template>
