.profile-header{
    background-color: #f5f5f5;
    padding: 20px 0 0 0;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    margin: 20px;
}

.card {
    box-shadow: var(--theme-shadow);
    border: solid 1px #dde4eb;
    border-radius: 0px;
}
.margin-auto{
    width: 200px;
    margin: 0 auto;
}
.username{
    font-size: 26px;
    color:#007BFF ;
}
.userdes{
    font-size: 12px;
    color:#444 ;
}
  
 