<div class="table-with-gheading">
  <div class="wrapper">
    <div class="container-fluid">
      <div class="wrap-content">
        <div class="row">
          <div class="col-sm-12">
            <div class="page-title-box">
              <div class="btn-group mt-2">
                <ol class="breadcrumb hide-phone p-0 m-0">
                  <li class="breadcrumb-item">Change Password</li>
                </ol>
              </div>
            </div>
          
            <div class="wrap-form-field padding-space modal-bottom-alignment-for-mobile-view">
              <div class="row mt-5 mb-5">
                <div class="col-md-6 m-auto">
                  <div class="card">
                    <div class="card-body">
                      <div class="row g-3 m-3">
                        <div class="col-md-12">
                          <form [formGroup]="changepassForm">
                            
                            <!-- Username Field -->
                            <div class="form-outline col-md-12 mb-3 wrap-form-field form-group">
                              <label class="form-label">User Name</label>
                              <input disabled type="text" class="form-control form-control-lg custom-input"
                                placeholder="User Name" autocomplete="off" formControlName="username">
                            </div>

                            <!-- User Email Field -->
                            <div class="form-outline col-md-12 mb-3 wrap-form-field form-group">
                              <label class="form-label">User Email</label>
                              <input disabled type="email" class="form-control form-control-lg custom-input"
                                placeholder="User Email" autocomplete="off" formControlName="userEmail">
                            </div>

                            <!-- Current Password Field -->
                            <div class="form-outline col-md-12 mb-3 wrap-form-field form-group has-password position-relative">
                              <label class="form-label">Current Password <span class="text-danger">*</span></label>
                              <p class="input-icons position-absolute" style="margin-top: 10px;margin-left: 700px;">
                                <span class="fa form-control-feedbacks text-dark" [ngClass]="{
                                  'fa-eye-slash': !hideCurrentPassword,
                                  'fa-eye': hideCurrentPassword
                                }" (click)="toggleCurrentPassword()" style="cursor: pointer;">
                                </span>
                              </p>
                              <input [type]="hideCurrentPassword ? 'text' : 'password'" 
                                class="form-control form-control-lg custom-input" 
                                placeholder="Enter current password"
                                formControlName="currentPassword"
                                [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }">
                              <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.currentPassword.errors.required">Current Password is required</div>
                              </div>
                            </div>

                            <!-- New Password Field -->
                            <div class="form-outline col-md-12 mb-3 wrap-form-field form-group has-password position-relative">
                              <label class="form-label">New Password <span class="text-danger">*</span></label>
                              <p class="input-icons position-absolute" style="margin-top: 10px;margin-left: 700px;">
                                <span class="fa form-control-feedbacks text-dark" [ngClass]="{
                                  'fa-eye-slash': !hideNewPassword,
                                  'fa-eye': hideNewPassword
                                }" (click)="toggleNewPassword()" style="cursor: pointer;">
                                </span>
                              </p>
                              <input [type]="hideNewPassword ? 'text' : 'password'" 
                                class="form-control form-control-lg custom-input" 
                                placeholder="Enter new password"
                                formControlName="newPassword"
                                [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                              <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                                <div *ngIf="f.newPassword.errors.minlength">Password must be at least 8 characters</div>
                                <div *ngIf="f.newPassword.errors.pattern">Password must contain at least one uppercase, one lowercase, one number and one special character</div>
                              </div>
                            </div>

                            <!-- Confirm Password Field -->
                            <div class="form-outline col-md-12 mb-3 wrap-form-field form-group has-password position-relative">
                              <label class="form-label">Confirm Password <span class="text-danger">*</span></label>
                              <p class="input-icons position-absolute" style="margin-top: 10px;margin-left: 700px;">
                                <span class="fa form-control-feedbacks text-dark" [ngClass]="{
                                  'fa-eye-slash': !hideConfirmPassword,
                                  'fa-eye': hideConfirmPassword
                                }" (click)="toggleConfirmPassword()" style="cursor: pointer;">
                                </span>
                              </p>
                              <input [type]="hideConfirmPassword ? 'text' : 'password'" 
                                class="form-control form-control-lg custom-input" 
                                placeholder="Confirm new password"
                                formControlName="confirmPassword"
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.passwordMismatch">Passwords do not match</div>
                              </div>
                            </div>

                            <!-- Action Buttons -->
                            <div class="form-group wrap-form-action mt-3 text-center">
                              <button type="button" class="btn btn-outline-primary me-3" (click)="onConfirm(content1)">
                                Change Password
                              </button>
                              <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">
                                Cancel
                              </button>
                            </div>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<ng-template #content1 let-c="close" let-d="dismiss">    
  <div class="modal-content">
    <div class="modal-header">    
      <button type="button" class="btn-close shadow-none" aria-label="Close" (click)="d('Cross click')"></button>    
    </div>    
    <div class="modal-body mt-4">    
      <em class="ion-ios7-help-outline text-danger fs-2 text-center float-start me-2"></em>
      <span class="text-dark fs-6">Are you sure you want to change your password?</span> 
    </div>    
    <div class="modal-footer"> 
      <div class="text-center">   
        <button type="button" class="btn btn-secondary btn-sm me-3" (click)="d('Cross click')">No</button>    
        <button type="button" class="btn btn-danger btn-sm" (click)="c('yes')">Yes</button>    
      </div> 
    </div>
  </div>   
</ng-template>