<div class="mat-table-with-gheading">
  <div class="wrapper">
    <div class="container-fluid">
      <div class="wrap-content">
        <div class="row">
          <div class="page-title-box">
            <ol class="breadcrumb ">
              <!-- <li class="breadcrumb-item">{{ 'stolt.heading' | translate }}</li> -->
              <li class="breadcrumb-item active">{{ 'stolt.enquiry.heading' | translate }}</li>
              <li class="breadcrumb-item active color-red">{{ 'stolt.enquiry.heading' | translate }} {{ 'common.list' |
                translate
                }}</li>
            </ol>
          </div>
        </div>

        <div class="wrap-mat-table-area">
          <div class="table-header-area">
            <div>
              <table-filters [TDP]="[false, false, true, true]" (filterInput)="applyFilter($event)"
                (onClickExport)="exportAsExcelFile1()">
              </table-filters>
            </div>
            <div class="d-flex justify-content-end align-items-center">
              <div class="taggle form-check form-switch d-flex align-items-center mt-2" *ngIf="!this.isTransport">
                <input type="checkbox" id="Ocean" (change)="onCheckboxChange($event, 'Ocean')" />
                <label for="Ocean" class="pl-1 mb-0 pr-4 font-13">Ocean</label><br>

                <input type="checkbox" id="Air" (change)="onCheckboxChange($event, 'Air')" />
                <label for="Air" class="pl-1 mb-0 pr-4 font-13">Air</label><br>
              </div>



              <div class="header-right">

                <a appAccessControl featureCode="['STEQ01']" accessType="add" title="{{ 'common.add' | translate }} {{ 'common.new' | translate
                }} {{ 'stolt.enquiry.heading' |
                translate }}" class="max-con new-action  btn btn-outline-primary btn-sm rounded-pill"
                  routerLink="add">Add New Inquiry</a>
              </div>
            </div>

          </div>

          <div class="table-card">
            <div class="table-design example-container mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort class="" summary="agreement">

                <ng-container matColumnDef="#">
                  <th scope="col" mat-header-cell *matHeaderCellDef>
                    # <em class="custom-tooltip" matTooltip="Click here to search field wise!"
                      [attr.title]="'Toggle Filters'" (click)="toggleFilters = !toggleFilters"
                      class="bi bi-search"></em>

                  </th>
                  <th scope="col" mat-header-cell *matHeaderCellDef>
                    <input>
                  </th>
                  <td mat-cell *matCellDef="let element;let i = index">
                    {{ element?.id}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="enquiryNo">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Inquiry No.
                  </th>
                  <th scope="col" mat-header-cell *matHeaderCellDef>
                    <input>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <a class="font-weight" (click)="navigateToNewTab(element)">{{ element?.enquiryNo }}</a>&nbsp;<i
                      class="bi bi-box-arrow-up-right" (click)="navigateToNewTab1(element)"></i>
                  </td>
                </ng-container>
                <!-- <ng-container matColumnDef="basicDetails.stcQuotationNo">
                <th scope="col" mat-header-cell *matHeaderCellDef >
                  Quotation No.
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.basicDetails?.stcQuotationNo }}
                </td>
              </ng-container> -->
                <ng-container matColumnDef="enquiryStatus">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <span class="font-weight status-bar flex"
                      [ngClass]="element?.enquiryStatus === 'Pending' ? 'Draft' : element?.enquiryStatus"
                      [style.color]="statusColor">
                      {{ element?.enquiryStatus === 'Pending' ? 'Inquiry Draft' : element?.enquiryStatus }}
                      <div *ngIf="shouldShowTooltip(element?.enquiryStatus)">
                        <i class="bi bi-info-circle"
                          [matTooltip]="getTooltipMessage(element?.enquiryStatus, element?.quotationCreateStatus)"
                          matTooltipClass="custom-tooltip" style="padding-left: 4px; margin-bottom: 2px;">
                        </i>
                      </div>
                    </span>
                    <div class="table-action" *ngIf="false">
                      <span *ngIf="element?.enquiryStatus === 'Job Created'" class="mtop ft-18">
                        <a title="Job Created"><em class="pr-1 bi bi-check-circle-fill text-success"></em></a>
                      </span>
                      <span *ngIf="element?.cloneEnquiryNo" class="mtop ft-18 ">
                        <a class="pr-1" title="{{element?.cloneEnquiryNo}}"><em
                            class="bi bi-info-circle text-secondary"></em></a>
                      </span>
                      <span *ngIf="element?.batches" class="mtop ft-18 ">
                        <a class="wrap-batch pr-1 ">
                          <em class="bi bi-link text-success ">
                            <div class="wrap-open">
                              <div class="wrap-inside" *ngFor="let batch of element?.batches">
                                <span (click)="routeBatch(batch?.batchId)">{{batch?.batchNo}}</span>
                              </div>
                            </div>
                          </em>
                        </a>

                      </span>
                      <span *ngIf="(element?.enquiryStatus === 'Pending' || element?.enquiryStatus === 'Inquiry Draft')"
                        class="mtop ft-18">
                        <a title="Draft"><em class="bi bi-hourglass-bottom text-danger"></em></a>
                      </span>
                      <span
                        *ngIf="element?.enquiryStatus === 'Inquiry Created' || element?.enquiryStatus === 'Quotation Created'"
                        class="mtop ft-18">
                        <a title="{{element?.enquiryStatus}}"><em
                            class="bi bi-check-circle-fill text-secondary"></em></a>
                      </span>
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="basicDetails.enquiryDate">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Inquiry Date
                  </th>
                  <td class="text-end" mat-cell *matCellDef="let element">
                    {{ element?.basicDetails?.enquiryDate | date: 'dd-MM-yyyy hh:mm:ss a'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="basicDetails.batchType">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Job Type
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.basicDetails?.batchType }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="basicDetails.moveTypeName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Move Type
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.basicDetails?.moveTypeName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="routeDetails.loadPlaceName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Origin
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.routeDetails.loadPlaceName }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="routeDetails.locationName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Destination
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.routeDetails.locationName }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="basicDetails.tankTypeName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Tank Type
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.basicDetails?.tankTypeName }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="basicDetails.ShipmentTypeName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Freight Type
                  </th>
                  <td mat-cell *matCellDef="let element" [ngClass]="{
                  'air': element?.basicDetails?.ShipmentTypeName === 'Air',
                  'land': element?.basicDetails?.ShipmentTypeName === 'Land',
                  'ocean': element?.basicDetails?.ShipmentTypeName === 'Ocean'
                }">
                    <i *ngIf="element?.basicDetails?.ShipmentTypeName  === 'Ocean'" class="fa-solid fa-ship me-1"
                      [ngClass]="{
                  'ocean': element?.basicDetails?.ShipmentTypeName === 'Ocean'
                }"></i>
                    <i *ngIf="element?.basicDetails?.ShipmentTypeName === 'Land'" class="fa-solid fa-truck me-1"
                      [ngClass]="{
                  'land': element?.basicDetails?.ShipmentTypeName === 'Land'
                }"></i>
                    <i *ngIf=" element?.basicDetails?.ShipmentTypeName === 'Air'"
                      class="fa-solid fa-plane-departure me-1" [ngClass]="{
                    'air': element?.basicDetails?.ShipmentTypeName === 'Air'
                  }"></i>
                    {{ element?.basicDetails?.ShipmentTypeName }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="basicDetails.loadType">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Load Type
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.basicDetails?.loadType }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="routeDetails.loadPortName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Port of Loading
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.routeDetails?.loadPortName }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="routeDetails.destPortName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Port of Destination
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.routeDetails?.destPortName }}
                  </td>
                </ng-container>

               

                <ng-container matColumnDef="basicDetails.shipperName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'Shipper ' }}
                  </th>
                  <td mat-cell *matCellDef="let element" class="link-text">
                    <span (click)="openShipper(shipper,element?.basicDetails?.shipperId)">{{
                      element?.basicDetails?.shipperName }} </span>

                  </td>
                </ng-container>

                <ng-container matColumnDef="basicDetails.forwarderName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'Forwarder' }}
                  </th>
                  <td mat-cell *matCellDef="let element">

                    {{ element?.basicDetails?.forwarderName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="basicDetails.invoicingPartyName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'Invoice Party' }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.basicDetails?.invoicingPartyName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="basicDetails.consigneeName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'Consignee' }}
                  </th>
                  <td mat-cell *matCellDef="let element" class="link-text">
                    {{ element?.basicDetails?.consigneeName }}

                  </td>
                </ng-container>

                <ng-container matColumnDef="cargoDetail.productName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'Product' }}

                  </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngFor="let prod of element.cargoDetail;let i=index">
                      {{ prod?.productName }}<span *ngIf="element.cargoDetail.length != (i+1)">, </span></span>

                  </td>
                </ng-container>

                <ng-container matColumnDef="routeDetails.shippingLineName">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Carriage
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.routeDetails?.shippingLineName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th scope="col" id="action" mat-header-cell *matHeaderCellDef>
                    {{ 'Actions' }}
                  </th>
                  <td class="borderBottom" mat-cell *matCellDef="let element">
                    <em class="bi bi-three-dots dots-color-change cursor-pointer wrap-batch1 border px-1 em-icon"
                      [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
                      [class]=" menuTrigger.menuOpen ? 'clicked' : ''">
                    </em>
                    <mat-menu #menu="matMenu" class="wrap-open">
                      <ng-container
                        *ngIf="element?.enquiryStatus === 'Inquiry Draft' ||element?.enquiryStatus === 'Pending' || element?.enquiryStatus === 'Inquiry Received'">
                        <button mat-menu-item class="wrap-inside" appAccessControl featureCode="['STEQ01']"
                          accessType="update">
                          <a class="text-dark" routerLink="{{element?.enquiryId}}/edit"><em
                              class="bi bi-pencil color-pencil-red"></em> Edit</a>
                        </button>
                      </ng-container>

                      <ng-container
                        *ngIf="((element?.enquiryStatus !== 'Inquiry Draft' && element?.enquiryStatus !== 'Pending') && element?.enquiryStatus != 'Inquiry Received') && element?.status">
                        <button mat-menu-item class="wrap-inside" appAccessControl featureCode="['STQ01']"
                          accessType="add">
                          <a class="text-dark" routerLink="{{element.enquiryId}}/quote"><img
                              src="../../../assets/img/icons/holiday-master.svg" class="quotation"> Quotation</a>
                        </button>
                      </ng-container>

                      <button mat-menu-item class="wrap-inside" appAccessControl featureCode="['STEQ01']"
                        accessType="view" routerLink="{{element?.enquiryId}}/show">
                        <a class="text-dark"><em
                            class="bi bi-eye globally-change-icon-color"></em> View</a>
                      </button>

                      <button mat-menu-item class="wrap-inside" appAccessControl featureCode="['STEQ01']"
                        accessType="add">
                        <a class="text-dark" routerLink="{{element?.enquiryId}}/clone"><em class="bi bi-bookmarks"></em>
                          Clone
                          Inquiry</a>
                      </button>

                      <!-- <button (click)="navigateLogs(element)" mat-menu-item class="wrap-inside" appAccessControl featureCode="['STBT01']" accessType="view">
                        <a class="text-dark"><em class="bi bi-clock-history globally-change-icon-color"></em>Audit Logs</a>
                      </button> -->
                    </mat-menu>

                  </td>
                </ng-container>


                <ng-container *ngFor="let headersFilter of displayedColumns1; let i=index"
                  [matColumnDef]="headersFilter">
                  <th mat-header-cell *matHeaderCellDef [class.display-none]="toggleFilters">
                    <div class="filters-container" [class.animate]="!toggleFilters">
                      <!-- <em *ngIf="i == 0" class="custom-tooltip" [attr.title]="'Clear Filters'" (click)="clearFilters();toggleFilters = !toggleFilters" class="bi bi-x-circle"></em> -->
                      <div *ngIf="i > 0 && i < displayedColumns1.length - 1" appearance="outline">
                        <nz-select *ngIf="headersFilter == 'enquiryStatus_'+i" class="form-select w-150" nzShowSearch
                          nzAllowClear [(ngModel)]="filtersModel[i]" (ngModelChange)="searchColumns()"
                          nzPlaceholder="Select">
                          <nz-option nzLabel="Inquiry Received" nzValue="Inquiry Received"></nz-option>
                          <nz-option nzLabel="Inquiry Created" nzValue="Inquiry Created"></nz-option>
                          <nz-option nzLabel="Job Created" nzValue="Job Created"></nz-option>
                          <nz-option nzLabel="Inquiry Accepted" nzValue="Inquiry Accepted"></nz-option>
                          <nz-option nzLabel="Inquiry Expired" nzValue="Inquiry Expired"></nz-option>
                          <nz-option nzLabel="Inquiry Draft" nzValue="Inquiry Draft"></nz-option>
                          <nz-option nzLabel="Inquiry Rejected" nzValue="Inquiry Rejected"></nz-option>
                        </nz-select>
                        <nz-select *ngIf="headersFilter == 'basicDetails.ShipmentTypeName_'+i" class="form-select"
                          nzShowSearch nzAllowClear [(ngModel)]="filtersModel[i]" (ngModelChange)="searchColumns()"
                          nzPlaceholder="Select">
                          <nz-option *ngIf="!isTransport" nzLabel="Air" nzValue="Air"></nz-option>
                          <nz-option *ngIf="!isTransport" nzLabel="Ocean" nzValue="Ocean"></nz-option>
                          <nz-option *ngIf="isTransport" nzLabel="Land" nzValue="Land"></nz-option>
                        </nz-select>

                        <nz-select *ngIf="headersFilter == 'basicDetails.loadType_'+i" class="form-select"
                          nzShowSearch nzAllowClear [(ngModel)]="filtersModel[i]" (ngModelChange)="searchColumns()"
                          nzPlaceholder="Select">
                          <nz-option *ngIf="!isTransport" nzLabel="FCL" nzValue="FCL"></nz-option>
                          <nz-option *ngIf="!isTransport" nzLabel="LCL" nzValue="LCL"></nz-option>
                          <nz-option *ngIf="!isTransport" nzLabel="ULD Container" nzValue="ULD Container"></nz-option>
                          <nz-option *ngIf="!isTransport" nzLabel="Loose" nzValue="Loose"></nz-option>
                          <nz-option *ngIf="isTransport" nzLabel="FTL" nzValue="FTL"></nz-option>
                          <nz-option *ngIf="isTransport" nzLabel="LTL" nzValue="LTL"></nz-option>
                          <nz-option *ngIf="isTransport" nzLabel="PTL" nzValue="PTL"></nz-option> 
                        </nz-select>

                        <input type="date" *ngIf="headersFilter == 'basicDetails.enquiryDate_'+i && headersFilter !== 'enquiryStatus_'+i 
                          && headersFilter !== 'basicDetails.ShipmentTypeName_'+i && headersFilter !== 'basicDetails.loadType_'+i" class="form-control input-txt"
                          placeholder="Press 'Enter' to search" [(ngModel)]="filtersModel[i]"
                          (change)="searchColumns()">
                        <input type="text"
                          *ngIf="headersFilter != 'basicDetails.enquiryDate_'
                      +i && headersFilter !== 'enquiryStatus_'+i && headersFilter !== 'basicDetails.ShipmentTypeName_'+i 
                      && headersFilter !== 'basicDetails.loadType_'+i"
                          class="form-control input-txt" placeholder="Press 'Enter' to search"
                          [(ngModel)]="filtersModel[i]" (keyup.enter)="searchColumns()">

                      </div>
                      <em *ngIf="i == displayedColumns1.length - 1" class="custom-tooltip"
                        [attr.title]="'Clear Filters'" (click)="clearFilters();toggleFilters = !toggleFilters"
                        class="bi bi-x-circle"></em>
                    </div>
                  </th>
                </ng-container>


                <tr mat-header-row class="header-height" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-header-row class="no-default-height" *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" [attr.colspan]="displayedColumns.length" class="text-center">
                    <span *ngIf="loaderService?.isLoadingcircle">{{_gc?.LOADER_TEXT}}</span>
                    <span *ngIf="!loaderService?.isLoadingcircle && !dataSource?.data?.length">No data available</span>
                  </td>
                </tr>
              </table>

            </div>
            <div [ngClass]="{'display-none' : toalLength < 20}">
              <mat-paginator [length]="toalLength" [pageSize]="pageSize" [pageIndex]="pageNumber-1"
                (page)="onPageChange($event)" [pageSizeOptions]="_gc.PAGINATOR_OPTIONS"
                showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close shadow-none" aria-label="Close" (click)="d('Cross click')">
      </button>
    </div>
    <div class="modal-body mt-4 d-flex align-items-center">
      <em class="bi bi-question-circle text-danger fs-2 text-center float-start me-2"> </em> <span
        class=" text-dark fs-6"> {{ "error.msg_delete" | translate }}</span>
    </div>
    <div class="modal-footer">
      <div class="text-center">
        <button type="button" class="btn btn-secondary  btn-sm me-3" (click)="d('Cross click')">{{ "common.no" |
          translate }}</button>
        <button type="button" class="btn btn-danger  btn-sm" (click)="c('yes')">{{ "common.yes" | translate }}</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #shipper let-c="close" let-d="dismiss">
  <div class="modal-content p-0">
    <div class="modal-header">
      <span>Shipper Details</span>
      <button type="button" class="btn-close shadow-none" aria-label="Close" (click)="d('Cross click')">
      </button>
    </div>
    <div class="modal-body mt-4 modal-grid">
      <div class="d-grid">
        <div class="d-grid-2">
          <span class="header">Shipper :</span>
          <span class="text"> {{shipperList?.name}} </span>
        </div>
        <div class="d-grid-2">
          <span class="header">Address :</span>
          <span class="text"> {{shipperList?.addressInfo?.address}} </span>
        </div>
        <div class="d-grid-2">
          <span class="header">City :</span>
          <span class="text"> {{shipperList?.addressInfo?.cityName}} </span>
        </div>
        <div class="d-grid-2">
          <span class="header">State :</span>
          <span class="text"> {{shipperList?.addressInfo?.stateName}} </span>
        </div>
        <div class="d-grid-2">
          <span class="header">Country :</span>
          <span class="text"> {{shipperList?.addressInfo?.countryName}} </span>
        </div>

        <div class="d-grid-2">
          <span class="header">Mail ID :</span>
          <span class="text"> {{shipperList?.primaryMailId}} </span>
        </div>
        <!-- <div class="d-grid-2"> 
          <span class="header">Contact No. :</span>
          <span class="text"> +{{shipperList?.primaryNo.primaryCountryCode}} {{shipperList?.primaryNo.primaryNo}}</span>
        </div> -->
        <div class="d-grid-2">
          <span class="header">PAN No. :</span>
          <span class="text"> {{shipperList?.panNo}} </span>
        </div>
      </div>
      <div class="branch-card" *ngFor="let branch of shipperList.branch">
        <div class="d-grid">
          <div class="d-grid-2">
            <span class="header">Branch :</span>
            <span class="text"> {{branch?.branch_name}} </span>
          </div>
          <div class="d-grid-2">
            <span class="header">Address :</span>
            <span class="text"> {{branch?.branch_address}} </span>
          </div>
          <div class="d-grid-2">
            <span class="header">City :</span>
            <span class="text"> {{branch?.branch_city}} </span>
          </div>
          <div class="d-grid-2">
            <span class="header">State :</span>
            <span class="text"> {{branch?.branch_stateName}} </span>
          </div>
          <div class="d-grid-2">
            <span class="header">PIC :</span>
            <span class="text"> {{branch?.pic}} </span>
          </div>
          <div class="d-grid-2">
            <span class="header">PIC No. :</span>
            <span class="text"> {{branch?.pic_phone}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>