<div class="modal-content nz-allSelect" *ngIf="hidemainPopup">
  <div class="modal-header">
    <h5 class="modal-title" *ngIf="type === 'document'">Upload Document</h5>
    <h5 class="modal-title" *ngIf="type === 'buyer'">Upload Buyer Document</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="onSave()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="docForm">
      <div class="row g-4">
        <div class="col-md-4">
          <div class="form-field-section">
            <label class="form-label">{{ 'smartagent.portenquiry.document.documentName' | translate }} <span
              class="text-danger">*</span></label>
            <input  class="form-control custom-input" type="text" formControlName="documentName" 
              [ngClass]="{ 'is-invalid': submitted && f.documentName.errors }" placeHolder="Document Name">
            <div *ngIf="submitted && f.documentName.errors" class="invalid-feedback">
              <div *ngIf="f.documentName.errors.required">{{ 'smartagent.portenquiry.document.documentNameRequired' |
                translate }}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 nz-select" *ngIf="type === 'document'">
          <div class="form-field-section">
            <label class="form-label">{{ 'smartagent.portenquiry.document.documentType' | translate }} <span
              class="text-danger">*</span></label>
              <div class="d-flex align-items-center">
            <nz-select nzAutocomplete="off" class="form-select" nzShowSearch nzAllowClear
            formControlName="documentType"
            [ngClass]="{'is-invalid': submitted && f.documentType.errors}" nzPlaceHolder="Document Type">
            <nz-option *ngFor="let data of  sort(documentTypeList ,'typeName')"
                [nzLabel]="data?.typeName"
                [nzValue]="data?.systemtypeId"></nz-option>
            </nz-select>
            <em class="bi bi-plus-circle color-pencil-red pl-1"
            (click)="openSystemtypeMaster()"></em>
        </div>
            <div *ngIf="submitted && f.documentType.errors" class="invalid-feedback">
              <div *ngIf="f.documentType.errors.required">{{ 'smartagent.portenquiry.document.documentType' | translate }} is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="type === 'document'">
          <div class="form-field-section">
            <label class="form-label">{{ 'smartagent.portenquiry.document.documentTag' | translate }} <span
              class="text-danger">*</span></label>
            <input class="form-control custom-input" formControlName="tags" type="text"
              [ngClass]="{ 'is-invalid': submitted && f.tags.errors }" placeholder="Document Tag">
            <div *ngIf="submitted && f.tags.errors" class="invalid-feedback">
              <div *ngIf="f.tags.errors.required">{{ 'smartagent.portenquiry.document.documentTagRequired' |
                translate}} </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-field-section">
            <label class="form-label">{{ 'smartagent.portenquiry.document.uploadDocument' | translate }} <span
              class="text-danger">*</span></label>
            <input class="form-control custom-input" type="file" id="formFileMultiple" (change)="onFileSelected($event)"
              g multiple formControlName="Doc" [ngClass]="{ 'is-invalid': submitted && f.Doc.errors }">
            <div *ngIf="submitted && f.Doc.errors" class="invalid-feedback">
              <div *ngIf="f.Doc.errors.required">{{ 'smartagent.portenquiry.document.uploadDocumentRequired' |
                translate }} </div>
              <div *ngIf="fileTypeNotMatched">{{ 'smartagent.portenquiry.document.fileTypeNotMatched' | translate }}
              </div>
            </div>
            <div *ngIf="!submitted && fileTypeNotMatched">{{ 'smartagent.portenquiry.document.fileTypeNotMatched' |
              translate }}</div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="type === 'buyer'">
          <div class="form-field-section">
            <label class="form-label">Remarks</label>
            <input class="form-control custom-input" formControlName="remarks" type="text"
              [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" placeholder="Remarks">
            <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
              <div *ngIf="f.remarks.errors.required">{{ 'smartagent.portenquiry.document.documentTagRequired' |
                translate}} </div>
            </div>
          </div>
        </div>
        <div class="wrap-form-field" *ngIf="type === 'document'">
          <div class="form-group wrap-form-action">
            <button class="btn btn-outline-primary btn-lg float-end" type="submit" (click)="addDocument()">
              {{ 'smartagent.portenquiry.document.addDocument' | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="wrap-table-area wrap-form-field " *ngIf="type === 'document' ">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table aria-describedby="mytable" class="gfg">
              <thead>
                <tr class="field-name">
                <th scope="col">{{ 'smartagent.portenquiry.document.documentType' | translate }}</th>
                  <th scope="col">{{ 'smartagent.portenquiry.document.documentName' | translate }}</th>
                  
                  <th scope="col">{{ 'smartagent.portenquiry.document.date' | translate }}</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doc of documentTableData; let i = index">
                  <td>{{doc.documentType}}</td>
                  <td>{{doc?.documentName}}</td>
                 
                  <td>{{doc.createdDate}}</td>
                  <td>
                    <span *ngIf="doc?.documentName" class="mtop ft-18">
                      <a title="Document uploaded"><em class="bi bi-check-circle-fill text-success"></em></a>
                    </span> 
                    <span *ngIf="!doc?.documentName" class="mtop ft-18 ">
                      <a title="Please upload document"><em class="bi bi-check-circle-fill text-secondary"></em></a>
                    </span>
                  </td>
                  <td class="action-field">
                    <!-- <span *ngIf="doc.documentStatus" class="mtop" nz-tooltip nzTooltipTitle="{{ 'common.view' | translate }}"><a>
                        <em class="bi bi-eye globally-change-icon-color" (click)="documentPreview(doc)"></em></a>
                    </span> -->
                    <span *ngIf="doc.documentStatus" class="mtop" nz-tooltip nzTooltipTitle="{{ 'common.download' | translate }}"><a
                        >
                        <em class="bi bi-download" (click)="downloadFile(doc)"></em></a>
                    </span>
                    <span *ngIf="doc.documentStatus" class="mtop" nz-tooltip nzTooltipTitle="{{ 'common.delete' | translate }}"><a>
                        <em class="bi bi-trash color-pencil-red" (click)="removeRow(content1, doc)"></em></a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="wrap-form-field">
      <div class="form-group wrap-form-action">
        <button class="btn1 btn-lg float-end" data-bs-dismiss="modal" (click)="onSave()"
          type="submit">
          {{ 'common.cancel' | translate }}
        </button>
        <button *ngIf="this.currentUrl !== 'show'" class="btn btn-outline-primary btn-lg float-end" data-bs-dismiss="modal" [disabled]="type ==='document'?  checkDocUploaded() : docForm.invalid"
          type="submit" (click)="uploadDocument()">
          {{ 'smartagent.portenquiry.document.uploadDocument' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close shadow-none" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body mt-4">
      <em class="ion-ios7-help-outline text-danger fs-2 text-center float-start me-2"> </em> <span
        class=" text-dark fs-6"> {{ "error.msg_delete" | translate }}</span>
    </div>
    <div class="modal-footer">
      <div class="text-center">
        <button type="button" class="btn btn-secondary  btn-sm me-3" (click)="d('Cross click')">No</button>
        <button type="button" class="btn btn-danger  btn-sm" (click)="c('yes')">Yes</button>
      </div>
    </div>
  </div>
  <div>
    <app-dummy></app-dummy>
  </div>
</ng-template>

