.select-table {
  width: -webkit-fill-available;
    position: absolute;
    z-index: 9999;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%), 0 4px 10px 0 rgb(0 0 0 / 10%);
  .overLay{
    max-height: 210px;
    overflow: overlay;
  }
    thead {
      tr {
        margin-bottom: 5px;
        color: white !important;
        background-color: var(--theme-red-color);
  
        th {
          padding: 5px;
          color: white !important;
          white-space: unset !important;
          font-size: 12px !important;
        }
      }
    }
  
    tbody {
      tr {
        border-bottom: 1px solid #ced4da !important;
        td {
          padding: 5px;
          font-size: 12px !important;
          white-space: unset !important;
        }
      }
      tr:hover td {
        background-color: #f5f5f5 !important;
        }
    }
  }