<div class="wrap-table-area">
    <div class="row">
        <div class="col-md-12">
            <div class="float-clear-mobile-view d-flex flex-column flex-sm-row gap-3 float-start search-section">
                <div class="input-group custom-input">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" />
                </div>
            </div>
            <div class="globally-chnage-mobile-view d-flex flex-column flex-sm-row gap-3 wrap-pagination">
                <div class="mt-2">Vessel: ONE HENRY HUDSON</div>
                <div class="mt-2">Voyage: 00831</div>
            </div>
          
        </div>
        <div class="col-md-12">
            <div class="table-responsive globally-table-design-fix">
                <div class="wrap-table-area wrap-table-design wrap-form-field costtable" id="htmlData">
                    <table aria-describedby="mytable" class="">
                        <thead>
                            <tr class="field-name">
                                
                                <th scope="col" data-order="desc" data-name="basicDetails"
                                    data-keys='["stcQutationNo"]'>
                                    BL No.
                                </th>
                                <th scope="col" data-order="desc" data-name="basicDetails"
                                    data-keys='["stcQutationNo"]'>
                                    POL
                                </th>
                                <th scope="col" data-order="desc" data-name="basicDetails"
                                    data-keys='["stcQutationNo"]'>
                                    POD
                                </th>
                                <th scope="col" data-order="desc" data-name="basicDetails"
                                    data-keys='["stcQutationNo"]'>
                                    FPOD
                                </th>
                                <th scope="col" data-order="desc" data-name="basicDetails"
                                    data-keys='["stcQutationNo"]'>
                                    Consignee Name
                                </th>
                                <th scope="col" data-order="desc" data-name="basicDetails"
                                    data-keys='["stcQutationNo"]'>
                                    General Remarks
                                </th>
                                <th scope="col" data-order="desc" data-name="basicDetails"
                                    data-keys='["stcQutationNo"]'>
                                    POL Remarks
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="aligntd">1276893</td>
                                <td class="aligntd">Mundra</td>
                                <td class="aligntd">Mundra</td>
                                <td class="aligntd">Nahva Sheva</td>
                                <td class="aligntd">Malav</td>
                                <td class="aligntd">
                                    <textarea id="remarks" name="remarks" rows="3" cols="30">
                                        
                                    </textarea>
                                </td>
                                <td class="aligntd">
                                    <textarea id="remarks" name="remarks" rows="3" cols="30">
                                        
                                    </textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
          
        </div>
        <div>
            <button>Update</button>
           
        </div>
       </div>
</div>