<section class="forgot-passowrd-page-alignment" *ngIf="false">
	<div class="login-box-design">
		<form [formGroup]="forgotForm">
		<div class="forgot-passowrd-text-style">
			<h2 >Forgot Password?</h2>
			<div >Enter the email address and we’ll send you the new password to the entered email address.</div>
		</div>
		<div class="cus-form">
			<label ><b>Username</b></label>
			<input type="text"
			  placeholder="" autocomplete="off" formControlName="username"
			  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
			<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
			  <div *ngIf="f.username.errors.required">User Name is required </div>
			  <div *ngIf="f.username.errors.noWhitespace">Whitespace are not allowed</div>
			</div>
		  </div>

		  <div class="cus-form">
			<label><b>Email</b></label>
			<input type="email"
			  placeholder="" autocomplete="off" formControlName="userEmail"
			  [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }">
			<div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
			  <div *ngIf="f.userEmail.errors.required">User Email is required </div>
			  <div *ngIf="f.userEmail.errors.noWhitespace">Whitespace are not allowed</div>
			  <div *ngIf="f.userEmail.errors.email">
				Invalid email format.
			  </div>
			</div>
		  </div>
		  <div class="input-button-design">
			<input class="" type="button" value="Reset" (click)="forgetpassword()">
		  </div>
		  <div class="btn-design-outline-new-style">
			<button>
				<a href="" class="text-white">
					<img src="../../../assets/img/arrow.png"/>
					Back to Sign In
				</a>
			</button>
		  </div>
		</form>
	</div>
</section>

<div class="login-container">
	<div></div>
	<div class="container outer-box my-5">
	  <div class="login-box my-5">
		<h2>Forgot Password?</h2>
		<p class="text-start">Enter the username and email address and we’ll send you the new password to the entered email address.</p>
		<form [formGroup]="forgotForm">
			<div class="cus-form">
				<label><b>Username</b></label>
				<input type="text"
				  placeholder="" autocomplete="off" formControlName="username"
				  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
				<div *ngIf="submitted && f.username.errors" class="invalid-feedback" style="text-align: left;">
				  <div *ngIf="f.username.errors.required">User Name is required</div>
				  <div *ngIf="f.username.errors.noWhitespace">Whitespace are not allowed</div>
				</div>
			  </div>
			  
			  <div class="cus-form">
				<label><b>Email</b></label>
				<input type="email"
				  placeholder="" autocomplete="off" formControlName="userEmail"
				  [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }">
				<div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback" style="text-align: left;">
				  <div *ngIf="f.userEmail.errors.required">User Email is required</div>
				  <div *ngIf="f.userEmail.errors.noWhitespace">Whitespace are not allowed</div>
				  <div *ngIf="f.userEmail.errors.email">Invalid email format.</div>
				</div>
			  </div>
			  
		   
		  <button mat-raised-button class="full-width bg-color" type="submit" (click)="forgetpassword()">Reset Password</button>
		 
		  <div class="sign-up">
			<p>Back to <a routerLink="/login">Sign In</a></p>
		  </div>
		</form>
	  </div>
	  <div class="image-container">
		<div class="logo-alignment">
		  <img src="assets/img/shippeasy-new-logo.png" />
		</div>
		<div class="feature-card">
		  <div class="service">
			<div class="img-div">
			  <img src="assets/img/icons/tracking.png" />
			</div>
			<div> 
			  <div class="header">Track and Trace</div>
			  <div class="text"> Real-Time Tracking in all modes online</div>
			</div>
		  </div>
		  <div class="service">
			<div class="img-div">
			  <img src="assets/img/icons/documentation.png" class="blue-icon"/>
			</div>
			<div>
			  <div class="header">Smart Documentation</div>
			  <div class="text">Eliminate endless back-and-forth emails</div>
			</div>
		  </div>
		  <div class="service">
			<div class="img-div">
			  <img src="assets/img/icons/igm.png" class="blue-icon"/>
			</div>
			<div>
			  <div class="header">IGM / EGM Manifestation Automation</div>
			  <div class="text">Tired of entering BL data into system</div>
			</div>
		  </div>
		  <div class="service">
			<div class="img-div">
			  <img src="assets/img/icons/integration.png" class="blue-icon"/>
			</div>
			<div>
			  <div class="header">EDI Integration</div>
			  <div class="text">Paper based document replaced by electronic fromat</div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="footer pb-3">
	  <div class="center-text">
		<a (click)="onOpenContact()">Contact us & Feedback</a>
		<a (click)="onOpenHelp()">Help</a>
		<a (click)="onOpenSupport()">Privacy</a>
	  </div>
	</div>
  </div>




