.tab-design-change {
    padding: 20px 0 0 0;
     .wrap-bar {
      border-bottom: none !important;
    }
  
    .custome-tab .nav-tabs .nav-item button {
      background: #F5F5F5 !important;
      box-shadow: 0px 4px 4px 0px #0000001F;
      border: none;
      font-size: 14px !important;
      line-height: 16px !important;
      border-radius: 4px !important;
      margin-bottom: 12px !important;
    }
    .nav-tabs {
      border-bottom: none !important;
    }
    .custome-tab .nav-tabs .nav-item button.active {
      background-color: var(--change-theme) !important;
    }
    .custome-tab ul {
      padding-bottom: 2px !important;
      box-shadow: 0px 4px 4px 0px #00000040;
  
    }
  }
  
  .new-white-box-design {
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px #0000000F;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 24px;
  
    .header {
      color: #2F2C2C;
      font-size: 11px;
      line-height: 15px;
      font-weight: 500 !important;
    }
    &.modal-grid .d-grid-4 .d-grid-2 {
      margin: 0 !important;
      padding: 0 0 10px 0 !important; 
    }
    .text {
      font-size: 11px;
      line-height: 15px;
      color: #3B3939;
      font-weight: 400 !important;
    }
  
    .new-title {
      p {
        font-size: 14px;
        line-height: 16px;
        color: var(--change-theme) ;
        font-weight: 600;
      }
    }
  }

.all-new-box-alignment {
  display: flex;
  align-items: center;
  gap: 16px;
  .box-design {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    width: auto;
    padding: 4px 14px;
    border-radius: 20px;
    background-color: #fff;
    height: 45px;
    white-space: nowrap;
  label {
    font-size: 12px;
    line-height: 16px;
    color: #2F2C2C;
    font-weight: 500 !important;
    margin: 0 0 6px 0 !important;
  }

  .input-group {
    display: block;
    font-size: 11px;
    line-height: 14px;
    color: #3B3939;
  }
  }
}
