/* css start  */
.globally-chnage-mobile-view {
	margin-bottom: 10px;
}

.action-field{
    width:150px;
}

.wrap{
	white-space: wrap;
	width: 100px;
}

.wrap1{
	white-space: wrap;
	width: 118px;
}

.wrap2{
	white-space: wrap;
	width: 240px;
}

.wrap3{
	white-space: wrap;
	width: 240px;
}

.wrap6{
	white-space: wrap;
	width: 200px;
}

.wrap4{
	white-space: wrap;
	width: 230px;
}

::ng-deep .wrap-modal-autosearch nz-select input, ::ng-deep .wrap-modal-autosearch nz-select select {
    padding: 0 0px !important;
    border: 1px solid #000 !important;
 }
  ::ng-deep .wrap-modal-autosearch .nz-form-select.wrap-inline-select nz-select-top-control {
    height: 32px !important;
 }
  ::ng-deep .cdk-overlay-container, ::ng-deep .cdk-overlay-pane {
    z-index: 2000 !important;
 }
  .nz-select-width {
    width: 100%;
 }