@import '../../../../assets/styles/mixins/global.scss';

.table-with-gheading .wrap-table-area .form-select.custom-input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--theme-border-bottom-color);
  color: var(--theme-light-text-color);
  @include new-heading-12;
  font-weight: normal;
  padding: 6px 5px;
  border-radius: 0;
}
.input-group-text {
  display: flex;
  align-items: center;
   padding: 0; 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--link-text-color);
  text-align: center;
  white-space: nowrap;
 background-color: transparent; 
  border: 1px solid var(--theme-border-color-light);
  border-top:0;
  border-right: 0;
 border-radius: 0;
 cursor: pointer;
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
/*
Label the data
*/
td:nth-of-type(1):before {
  content: "Activity Type";
}
td:nth-of-type(2):before {
  content: "Name";
}
td:nth-of-type(3):before {
  content: "ETA";
}
td:nth-of-type(4):before {
  content: "ATA";
}
td:nth-of-type(5):before {
  content: "Status";
}
td:nth-of-type(6):before {
    content: "Remark";
}
}