<div class="page-title-box">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-9 p-0">
                    <iframe id="pdfViewer" width="100%" height="860px"></iframe>
                </div>
                <div class="col-md-3 mt-5">
                    <div class="d-flex">
                        <button class="green" (click)="acceptQuotation()">Accept Quotation</button>
                        <button class="red" (click)="rejectQuotation()">Reject Quotation</button>
                    </div>
                    <div class="mt-2" style="margin-left: 7px;">
                        <p></p>
                   </div>
                </div>
            </div>
          
        </div>
    </div>
</div>
