.confirmationBtn{
    background: var(--diabosBlue) !important;
    color: var(--white) !important;
    height: 30px;
    line-height: 0;
}
.confirmMationText{
    color: var(--black);
}
.remark{
    width: 100% !important;
}
.remarksTextBox{
    resize: none;
}