// .form-group.wrap-form-action {
//   // padding: 0 20px 60px 0;
// }
@import '../../../../assets/styles/mixins/global.scss';

.pointer-none{
  pointer-events: none;
}
.form-control::placeholder {
  color: rgb(204, 199, 199);
}

.fplt{
  margin-left: 1430px;
}
.form-select.is-invalid:not([multiple]):not([size]) {
  background-repeat: no-repeat !important;
}
::ng-deep .fixed {
  width: 111111px !important;
  margin-right: 0px !important;
  margin-left: -12px !important;
}


[class^="bi-"]::before,
[class*=" bi-"]::before {

  line-height: inherit !important;
  vertical-align: -0.250em;

}
.form-accordian h2 button {
  padding: 7px 15px !important;
  width: 100% !important;
  box-shadow: none !important;
  font-size: 14px !important;
  color: var(--theme-black-320) !important;
  background-color: var(--theme-light-bg) !important;
}

.form-accordian .accordion-button::after {
  filter: none !important;
}

.expand-all {
  font-size: 12px;
  border-color: var(--link-text-color);
  color: var(--link-text-color);
  border-radius: 20px;
  margin: 0 5px;
  background-color: white;
  border: 0;
}

.form-accordian .accordion-item {
  margin-bottom: 5px;
  border: 0;

 

  .form-label {
    font-size: 12px;
    color: #77797A;
  }
}

.display-none {
  display: none;
}
::ng-deep {

  .cdk-overlay-container,
  .cdk-overlay-pane {
    z-index: 2000 !important;
  }
  

}
.border-top{
  border-top: 1px solid;
  padding: 10px;
}

.mrgn1{
  margin-bottom: 10px;
}
.simple-text{
  font-size: 18px;
  color : var(--change-theme);
}
.margin-bottoms{
  margin-bottom: 22px ;
}
.dsply{
  display: flex;
}
.btn1 {
  transition: background-color 0.3s, color 0.3s; 
}

.btn1:hover {
  background-color:#007BFF; 
  color: white; 
}
.bordernone {
  border: none !important;
}
