.input-container {
    position: relative;
    input{
      width: 100%;
      padding-left: 30px;
    }
    .clear-icon {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .search-input {
    background-image: url('../../../../../assets/img/icons/search.svg');
    background-size: 12px;
    /* Adjust size as needed */
    background-position: 10px center;
    /* Adjust position as needed */
    border: 1px solid var(--change-theme) !important;
    background-repeat: no-repeat;
    padding-left: 35px;
    /* Adjust padding to make room for the icon */
  }
  .sticky-tr{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

 .table-design {
    overflow-x: overlay;
    // max-height: calc(100vh - 410px);
}

.form-accordian h2 button {
  padding: 7px 15px !important;
  width: 100% !important;
  box-shadow: none !important;
  font-size: 14px !important;
  color: var(--theme-black-320) !important;
  background-color: var(--theme-light-bg) !important;
}
// .roww{
//   margin-left: 15px;
// }
.form-accordian .accordion-button::after {
  filter: none !important;
}
.red-text-color {
  color: #007BFF !important;
}
.expand-all{
  font-size: 12px;
    border-color: var(--link-text-color);
    color: var(--link-text-color);
    border-radius: 20px;
    margin: 0 5px;
    background-color: white;
    border: 0;
}
.form-accordian .accordion-item {
  margin-bottom: 25px;
  border: 0;

  // .form-select {
  //   border: 0 !important;
  //   border-bottom: 1px solid #ced4da !important;
  // }
  .form-label {
    font-size: 12px;
    color: var(--theme-black-400);
  }
}

.form-accordian .accordion-item:last-child {
  margin-bottom: 0px;
}
.bg-color-single-th{
  background: #ffeded !important;
}
.bg-color-single-td{
  background: #ffeded70 !important;
}
.margin-top{
  margin-top: 37px;
}