<div class="mat-table-with-gheading">
  <div class="wrapper">
    <div class="container-fluid">
      <div class="wrap-content">
        <div class="row">
          <div class="page-title-box">
            <ol class="breadcrumb ">
              <li class="breadcrumb-item active">{{ 'Audit Logs' | translate }}</li>
              <!-- <li class="breadcrumb-item active color-red">{{ 'stolt.batch.heading' | translate }} {{ 'common.list' |
                  translate }}</li> -->
            </ol>
          </div>
        </div>

        <div class="row mb-3 mx-1">
          <div class="col-md-3 pl-0">
            <label class="form-label">Collection Type<span class="text-danger">*</span></label>
            <nz-select class="form-select" nzShowSearch nzAllowClear (ngModelChange)="onChangeCollection($event,true)"
              [ngClass]="{'is-invalid': submitted && !collectionType}" [(ngModel)]="collectionType"
              nzPlaceHolder="Collection Type">
              <nz-option nzLabel="Job" nzValue="batch"></nz-option>
              <nz-option *ngIf="isExport || isTransport" nzLabel="Inquiry" nzValue="enquiry"></nz-option>
              <nz-option *ngIf="isImport" nzLabel="Agent Advice" nzValue="agentadvice"></nz-option>
              <nz-option nzLabel="Container" nzValue="container"></nz-option>
              <nz-option nzLabel="Container Master" nzValue="containermaster"></nz-option>
            </nz-select>

            <div *ngIf="submitted && !collectionType" class="invalid-feedback">
              Collection Type is required
            </div>

          </div>
          <div class="col-md-3">
            <label class="form-label">{{showText}} No.<span class="text-danger">*</span></label>
            <!-- <nz-select class="form-select" nzShowSearch nzAllowClear (ngModelChange)="onChangeID($event)"
              [(ngModel)]="collectionNo" nzPlaceHolder="Select {{showText}} No." 
              [ngClass]="{'is-invalid': submitted && !collectionNo}">
              <nz-option *ngFor="let data of allList"  [nzLabel]="data?.name" [nzValue]="data?.id"></nz-option> 
            </nz-select> -->

            <nz-select class="form-select" nzShowSearch nzServerSearch nzPlaceHolder="Search {{showText}} No."
              [nzShowArrow]="false" [(ngModel)]="collectionNo" [nzFilterOption]="nzFilterOption"
              [ngClass]="{'is-invalid': submitted && !collectionNo}" (nzOnSearch)="searchData($event)"
              (ngModelChange)="onChangeID($event)">
              <nz-option *ngFor="let data of allList" [nzLabel]="data?.name" [nzValue]="data?.id"></nz-option>
            </nz-select>
            <div *ngIf="submitted && !collectionNo" class="invalid-feedback">
              Collection No is required
            </div>


          </div>
          <div class="col-md-2 pl-0" *ngIf="collectionType == 'container'">
            <label class="form-label">Containers<span class="text-danger">*</span></label>
            <nz-select class="form-select" nzShowSearch nzAllowClear
              [ngClass]="{'is-invalid': submitted && !containers}" [(ngModel)]="containers" nzPlaceHolder="Select Containers">
              <nz-option *ngFor="let conatiner of containerList" [nzLabel]="conatiner?.containerNumber"
                [nzValue]="conatiner?.containerId"></nz-option>
            </nz-select>

            <div *ngIf="submitted && !containers" class="invalid-feedback">
              Containers is required
            </div>

          </div>
          <div class="col-md-3">
            <label class="form-label">From-To Date</label>
            <nz-range-picker [(ngModel)]="dateRange" class="form-control custom-input"></nz-range-picker>
          </div>
          <div class="col-md-1 d-flex align-items-end">
            <button class="btn btn-outline-primary btn-lg  " (click)="getAuditLog()">Search</button>
            <button class="btn btn-outline-primary btn-lg  " (click)="getAuditLogClear()">Clear</button>
          </div>

          <!-- <div class="col-md-6">
            <button class="btn btn-outline-primary btn-lg float-end" (click)="back()">Back</button>
          </div> -->
        </div>

        <div class="wrap-mat-table-area">
          <div class="table-header-area">
            <div>
              <table-filters [TDP]="[false, false, true, true,false]" (filterInput)="applyFilter($event)"
                (onClickExport)="export()">
              </table-filters>
            </div>
          </div>



          <div class="table-card">

            <div class="table-design example-container mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort class="full-width-table" summary="agreement">
                <ng-container matColumnDef="#">
                  <th scope="col" mat-header-cell *matHeaderCellDef>
                    #
                  </th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{ i+1}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Action
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.action }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="resource">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Collection
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.resource == 'batch' ? 'Job' : element?.resource }}
                  </td>
                </ng-container>




                <ng-container matColumnDef="updatedOn">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Updated On
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.updatedOn | date: 'dd-MM-yyyy hh:mm:ss a' }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="updatedBy">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Last Updated By
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.updatedBy }}
                  </td>
                </ng-container>




                <ng-container matColumnDef="details">
                  <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Details
                  </th>
                  <td mat-cell *matCellDef="let element;let i=index">
                    <button class="btn btn-outline-primary btn-lg  "
                      (click)="showDetails(content,element,i)">Details</button>
                  </td>
                </ng-container>

                <ng-container *ngFor="let headersFilter of displayedColumns1; let i=index"
                  [matColumnDef]="headersFilter">
                  <th mat-header-cell *matHeaderCellDef [class.display-none]="toggleFilters">
                    <div class="filters-container" [class.animate]="!toggleFilters">
                      <em *ngIf="i > 0 && i < displayedColumns1.length - 2" class="custom-tooltip bi bi-x-circle"
                        [attr.title]="'Clear Filters'" (click)="clearFilters(); toggleFilters = !toggleFilters">
                      </em>
                      <div *ngIf="i > 1 && i < displayedColumns1.length - 0" appearance="outline">
                        <ng-container *ngIf="displayedColumns[i] === 'status'; else textInput">
                          <select class="form-control" [(ngModel)]="filtersModel[i]" (change)="searchColumns4()">
                            <option value="">All</option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                          </select>
                        </ng-container>
                        <ng-template #textInput>
                          <input class="form-control input-txt" placeholder="Press 'Enter' to search"
                            [(ngModel)]="filtersModel[i]" (keyup.enter)="searchColumns4()">
                        </ng-template>
                      </div>
                    </div>
                  </th>
                </ng-container>
                <tr mat-header-row class="header-height" *matHeaderRowDef="displayedColumns">
                </tr>
                <tr mat-header-row class="no-default-height" *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns">
                </tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" [attr.colspan]="displayedColumns.length" class="text-center">
                    <span *ngIf="loaderService?.isLoadingcircle">{{_gc?.LOADER_TEXT}}</span>
                    <span *ngIf="!loaderService?.isLoadingcircle && !dataSource?.data?.length">No data available</span>
                  </td>
                </tr>
              </table>
            </div>
            <div [ngClass]="{'display-none' : toalLength < 10}">
              <mat-paginator [length]="toalLength" [pageSize]="pageSize" [pageIndex]="pageNumber-1"
                (page)="onPageChange($event)"  [pageSizeOptions]="_gc.PAGINATOR_OPTIONS" showFirstLastButtons></mat-paginator>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-content nz-allSelect vessel-master-component open-box">
    <div class="modal-headers mt-2 pb-0">
      <h4 class="modal-title">
        Audit Change Log
      </h4>
      <button type="button" class="btn-close shadow-none float-end" (click)="cancel()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="wrap-form-field padding-space modal-bottom-alignment-for-mobile-view pb-0">

        <div class="col-md-12 p-0">
          <div class="wrap-mat-table-area">
            <div class="table-header-area">
              <div class="row">
                <div class="col-md-4 mb-1">
                  <table-filters [TDP]="[false, false, false, true,false]" (filterInput)="applyFilter1($event)">
                  </table-filters>
                </div>
              </div>
            </div>


            <div class="meta-info">
              <div>{{showText}} No : <strong>{{showText =='Job' ? dataSource?.filteredData[0]?.batchNo : 
             showText =='Enquiry' ? dataSource?.filteredData[0]?.enquiryNo :
             showText =='Agent Advice' ? dataSource?.filteredData[0]?.agentadviceNo :
             showText =='Container Master' ? dataSource?.filteredData[0]?.containerNo :
             showText =='Container' ? dataSource?.filteredData[0]?.containerNo :
              
              "" }}</strong></div>
              <div>Updated By : <strong> {{ dataSource1?.filteredData[0]?.updatedBy }}</strong></div>
              <div>Date Modified : <strong> {{ dataSource1?.filteredData[0]?.updatedOn | date: 'dd-MM-yyyy hh:mm:ss a' }}</strong></div>
            </div>
          
            <div class="log-section" *ngFor="let item of dataSource1.filteredData">
              <div class="log-title">
                {{ item?.keyName | prettyLabel}}
                <span class="badge">CHANGED</span>
              </div>
          
              <div class="diff-block" *ngIf="item?.newValue || item?.previousValue">
                <div class="line removed">- "<span class="dark-red">{{ item?.previousValue }}</span>"</div>
                <div class="line added">+ "<span class="dark-green">{{ item?.newValue }}</span>"</div>
              </div>
          
              <div *ngIf="!item?.newValue   && !item?.previousValue  " class="no-changes">File without changes</div>
            </div>





            <div class="table-card " *ngIf="false">
              <div class="table-design example-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource1" matSort class="full-width-table" summary="agreement">
                  <ng-container matColumnDef="#">
                    <th scope="col" mat-header-cell *matHeaderCellDef style="width:5%">
                      #
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="text-center">
                      {{ i+1}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="keyName">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                      Key Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element?.keyName }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="previousValue">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                      Previous Value
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element?.previousValue}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="newValue">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                      New Value
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element?.newValue}}
                    </td>
                  </ng-container>



                  <ng-container matColumnDef="updatedOn">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                      Updated On
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element?.updatedOn | date: 'dd-MM-yyyy hh:mm:ss a' }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="updatedBy">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                      Last Updated By
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element?.updatedBy }}
                    </td>
                  </ng-container>



                  <ng-container *ngFor="let headersFilter of displayedColumns3; let i=index"
                    [matColumnDef]="headersFilter">
                    <th mat-header-cell *matHeaderCellDef [class.display-none]="toggleFilters">
                      <div class="filters-container" [class.animate]="!toggleFilters">
                        <em *ngIf="i > 0 && i < displayedColumns3.length - 2" class="custom-tooltip bi bi-x-circle"
                          [attr.title]="'Clear Filters'" (click)="clearFilters(); toggleFilters = !toggleFilters">
                        </em>
                        <div *ngIf="i > 1 && i < displayedColumns3.length - 0" appearance="outline">
                          <ng-container *ngIf="displayedColumns2[i] === 'status'; else textInput">
                            <select class="form-control" [(ngModel)]="filtersModel[i]" (change)="searchColumns4()">
                              <option value="">All</option>
                              <option value="active">Active</option>
                              <option value="inactive">Inactive</option>
                            </select>
                          </ng-container>
                          <ng-template #textInput>
                            <input class="form-control input-txt" placeholder="Press 'Enter' to search"
                              [(ngModel)]="filtersModel[i]" (keyup.enter)="searchColumns4()">
                          </ng-template>
                        </div>
                      </div>
                    </th>
                  </ng-container>
                  <tr mat-header-row class="header-height" *matHeaderRowDef="displayedColumns2">
                  </tr>

                  <tr mat-row *matRowDef="let row; columns: displayedColumns2">
                  </tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns2.length" class="text-center">
                      <span *ngIf="loaderService?.isLoadingcircle">{{_gc?.LOADER_TEXT}}</span>
                      <span *ngIf="!loaderService?.isLoadingcircle && !dataSource1?.data?.length">No data
                        available</span>
                    </td>
                  </tr>
                </table>
              </div>

            </div>


          </div>
        </div>

        <div class="form-group wrap-form-action mt-4">
          <button class="btn1 btn-lg float-end" (click)="cancel()">
            {{ "common.cancel" | translate }}
          </button>
        </div>

      </div>
    </div>
  </div>
</ng-template>