
@import '../mixins/variable.scss';

@mixin global-font-family {
    font-family: "Roboto", sans-serif !important;
}


@mixin text-center {
    text-align: center;
}

@mixin text-left {
    text-align: left;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin pointer {
    cursor: pointer;
}