@import '../../../../assets/styles/mixins/global.scss';
.table-charge1{
    overflow: overlay;
    max-width: 100%;
    
    table {
        // width: auto; 
        border-collapse: separate;
        border-spacing: 0;

        .form-select {
            min-width: 100px;
        }

        .custom-input {
            min-width: 100px;
        }

        td:first-child,
        th:first-child {
            position: sticky;
            left: 0;
            z-index: 1;
        }

        td:nth-child(2),
        th:nth-child(2) {
            position: sticky;
            left: 20px;
            z-index: 1;
            min-width: 200px;
        }

        td:last-child,
        th:last-child {
            position: sticky;
            right: 0;
            min-width: 60px;
            z-index: 1;
        }
 
            // th:nth-last-child(2), td:nth-last-child(2) {
            //     position: sticky;
            //     right: 60px; 
            //     z-index: 1;
            //   }
        

    }

}

.checkbox{
  padding: 0;
}

.comment{
  margin-left: 15px;
}

.remarks{
  border: 2px solid red;
  margin-top: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.table-charge {
    overflow: overlay;
    max-width: 100%;
    height: calc(40vh - 50px);
    table {
        // width: auto; 
        border-collapse: separate;
        border-spacing: 0;

        .form-select {
            min-width: 100px;
        }

        .custom-input {
            min-width: 100px;
        }

        td:first-child,
        th:first-child {
            position: sticky;
            left: 0;
            z-index: 1;
        }

        td:nth-child(2),
        th:nth-child(2) {
            position: sticky;
            left: 20px;
            z-index: 1;
            // min-width: 200px;
        }

        td:last-child,
        th:last-child {
            position: sticky;
            right: 0;
            min-width: 60px;
            z-index: 1;
        }
 
            // th:nth-last-child(2), td:nth-last-child(2) {
            //     position: sticky;
            //     right: 60px; 
            //     z-index: 1;
            //   }
        

    }

}

.field-name1 th{
    background-color: #f5f5f5;
    color: #3B3939;
}

.collapse-ui .red td{
    color: green !important;
}

.collapse-ui .green td{
    color: var(--theme-red-color) !important;
}

.positive {
    color: green;
  }
  
  .negative {
    color: var(--theme-red-color) !important;
  }
  .font-clr{
    font-weight: 700;
    color: var(--theme-red-color) !important;
  }


  .table-charge  {
    table {
        border-collapse: collapse;

        th {
            text-align: left;
        }

        td {
            text-align: left;
        }
    }
  }
  .top{
    margin-left: 12px;
  }
  .right{
    margin-left: 15px;
  }
  .left{
    margin-left: 40px;
  }
.size{
  margin-left: -105px;
}
.type{
  margin-left: 9px;
}

.font{
  margin-left: -15px;
}
  .new-white-box-design {
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px #0000000F;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 24px;
  
    .header {
      color: #2F2C2C;
      font-size: 11px;
      line-height: 15px;
      font-weight: 500 !important;
    }
    &.modal-grid .d-grid-4 .d-grid-2 {
      margin: 0 !important;
      padding: 0 0 10px 0 !important; 
    }
    .text {
      font-size: 11px;
      line-height: 15px;
      color: #3B3939;
      font-weight: 400 !important;
    }
  
    .new-title {
      p {
        font-size: 14px;
        line-height: 16px;
        color: var(--change-theme) ;
        font-weight: 600;
      }
    }
  }
  
  .tab-reactive{
    position: relative;
  }
  .border-left{
    border-left: 2px dotted black !important;
    position: absolute;
    height :-webkit-fill-available;
    left: -12px;
    top: 10px;
    bottom: 10px;
  }
 .location-icon{
  background-color: #fff;
  position: absolute;
  left: -17px;
  top: 10px;
  i{
    padding: 0;
  }
 }
 .location-icon1{
  background-color: #fff;
  position: absolute;
  left: -17px;
  bottom: 5px;
  i{
    padding: 0;
  }
 }

  .tab-design-change {
    padding: 20px 0 0 0;
     .wrap-bar {
      border-bottom: none !important;
    }
  
    .custome-tab .nav-tabs .nav-item button {
      background: #F5F5F5 !important;
      box-shadow: 0px 4px 4px 0px #0000001F;
      border: none;
      font-size: 14px !important;
      line-height: 16px !important;
      border-radius: 4px !important;
      margin-bottom: 12px !important;
    }
    .nav-tabs {
      border-bottom: none !important;
    }
    .custome-tab .nav-tabs .nav-item button.active {
      background-color: var(--change-theme) !important;
    }
    .custome-tab ul {
      padding-bottom: 2px !important;
      box-shadow: 0px 4px 4px 0px #00000040;
  
    }
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .white-space{
    white-space: nowrap;
  }
  .set-font{
    font-size: 13px;
    color: var(--change-theme);
    border:  1px solid var(--change-theme);
    padding: 5px;
    border-radius: 4px;
    font-weight: 500;
  }

.disabled {
  opacity: 0.5;
  pointer-events: none; 
}
.mat-menu-panel.wrap-open {
  background-color: white !important;
  box-shadow: var(--theme-shadow);
  font-size: 12px;
}

.mat-menu-item.wrap-inside {
  padding: 0px 20px;
  border-bottom: 1px solid #bcd7ee;
  color: var(--theme-black-320);
}
::ng-deep.mat-menu-content:not(:empty){
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
::ng-deep.mat-menu-panel{
position: relative !important;
right: 40px !important;
min-height:unset !important;
}
.em-icon.dots-color-change:hover {
  color: black !important; /* Change the icon color to black */
  border: 3px solid black !important;
  border-radius: 4px !important;
}
.whiteSpace{
  white-space: break-spaces !important;
}
.text-wrap{
  text-wrap: nowrap !important;
}

