.form-field-section{
    .form-label{
    font-size: 12px;
    color: var(--theme-light-gray-color);
    margin-bottom: 0px;
    }
    .custom-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--theme-border-bottom-color);
    color: var(--theme-light-text-color);
    font-size: 12px;
    font-weight: normal;
    padding: 6px 0;
    }
    }
    .form-select:focus, input:focus{ box-shadow: none;
    border-color: var(--link-text-color);}
    .new-action{
        cursor: pointer;
        text-decoration: none;
    }

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
.expand-area{
    padding-left: 15px; 
}
}

.white-space-remove-mobile-view {
    @media screen and (max-width: 767px)  {
        .expand-area {
            white-space: pre-wrap !important;
        }
    }
}

.mobile-view-bottom-alignment-for-page {
    @media screen and (max-width: 767px)  {
        padding: 0 0 60px 0;
    }
}

.mobile-view-search-top-alignment {
    @media screen and (max-width: 767px)  {
        margin: 20px 0 0 0 !important;
    }
}

::ng-deep {

    .cdk-overlay-container,
    .cdk-overlay-pane {
      z-index: 2000 !important;
    }
    
  
  }

  .remark-type-column {
    width: 150px;
  }
  .custom-textarea {
    width: 728px !important;  
    height: 75px !important;
  }
  