<div class="wrap-form-field padding-space  modal-bottom-alignment-for-mobile-view">
  <div class="row">
    <div class="col-md-12">
      <form class="row g-4">
        <div class="col-md-4">
          <label class="form-label">Shipping Line <span class="text-danger">*</span></label>
          <select class="form-select custom-input">
            <option selected>Balaji Enterprises</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">Final Vessel</label>
          <input type="text" class="form-control custom-input" placeholder="Final Vessel" value="Pier to Pier">
        </div>
        <div class="col-md-4">
          <label class="form-label">Load Port <span class="text-danger">*</span></label>
          <select class="form-select custom-input">
            <option selected>Mumbai</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">Pre Carriage</label>
          <select class="form-select custom-input">
            <option selected>Balaji Enterprises</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">Load Place</label>
          <select class="form-select custom-input">
            <option selected>Mumbai</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">FPOD</label>
          <select class="form-select custom-input">
            <option>Balaji Enterprises</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">Dest Port <span class="text-danger">*</span></label>
          <select class="form-select custom-input">
            <option selected>Mumbai</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">On Carriage</label>
          <select class="form-select custom-input">
            <option selected>Balaji Enterprises</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">POL Detention Currency</label>
          <select class="form-select custom-input">
            <option selected>INR</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">POL Detention Free Day</label>
          <input type="number" class="form-control custom-input" placeholder="POL Detention Free Day" value="5">
        </div>
        <div class="col-md-4">
          <label class="form-label">POL Detention Amount</label>
          <input type="text" class="form-control custom-input" placeholder="POL Detention Amount" value="15000">
        </div>
        <div class="col-md-4">
          <label class="form-label">POD Detention Currency</label>
          <select class="form-select custom-input">
            <option selected>INR</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">POD Detention Free Day</label>
          <input type="number" class="form-control custom-input" placeholder="POD Detention Free Day" value="5">
        </div>
        <div class="col-md-4">
          <label class="form-label">POD Detention Amount</label>
          <input type="text" class="form-control custom-input" placeholder="POD Detention Amount" value="15000">
        </div>
        <div class="col-md-4">
          <label class="form-label">Planned Vessel</label>
          <select class="form-select custom-input">
            <option selected>Nhava</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">Planned Voyage No</label>
          <input type="text" class="form-control custom-input" placeholder="Planned Voyage" value="hamburg">
          <select class="form-select custom-input">
            <option selected>Nhava</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">Line Voyage No.</label>
          <input type="text" class="form-control custom-input" placeholder="Line Voyage No." value="1345">
        </div>
        <div class="col-md-4">
          <label class="form-label">Backup Vessel</label>
          <select class="form-select custom-input">
            <option selected>Nhava</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label"> Backup Voyage No</label>
          <select class="form-select custom-input">
            <option selected>Nhava</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">T/S Port1</label>
          <select class="form-select custom-input">
            <option>Own Booking</option>
          </select>
        </div>

      </form>
    </div>
    <div class="form-group wrap-form-action  btn-onscreen">
      <button class="btn1  float-end" (click)="onClose()">
        Cancel
      </button>
      <button class="btn btn-outline-primary float-end" type="submit">
        Save
      </button>
    </div>
  </div>
</div>