 
    <div class="container" style="font-family: 'Roboto'">
      <div class="collapse navbar-collapse wrap-customer-menu">
        <div class="wrap-menu">
          <ul id="nav" class=" center-alignment-header-wrap nav nav-pills mobile-view-show-tab">
            <li class="nav-item mb-0">
              <a *ngFor="let tabName of tablist" (click)="getdatabyType(tabName)" class="nav-link" [ngClass]="{'active': activeTab === tabName}">
                {{tabName}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-lg-flex flex-lg-row flex-sm-column flex-md-column justify-content-between">
        <div class="d-flex align-items-center">
          <h5 class=" companytitle heading-text-color-style py-3 mb-0 mr-2 font-16">Inquiry</h5>
           <div class="input-container">
            <input [(ngModel)]="searchText" class="form-control custom-input search-input" type="text"  placeholder="Search here.."  (input)="searchGlobal($event,activeTab)"   autocomplete="off">
            <button *ngIf="searchText" class="clear-icon"    ><em class="bi bi-x-circle-fill" (click)="clearSearch()"></em></button>
             
          </div> 
          
        </div>
       
        <div class="d-flex align-items-center justify-content-between">
          <!-- <div class="input-field wrap-top-filter input-icon dropdown-icon"> -->
            <!-- <select>
              <option selected value="desc">Latest</option>
              <option value="asc">Oldest</option>
            </select> --> 
          <!-- </div> -->

          <!-- <button class="max-con new-action  btn btn-outline-primary btn-sm rounded-pill" routerLink="add">New Inquiry</button> -->
          <span class="wrap-filter-area">
            <a class="show-filter" [class.close-section]="isShowSerch" (click)="isShowSerch = !isShowSerch">
              <em *ngIf="!isShowSerch" class="bi bi-filter-left"></em>
              <em *ngIf="isShowSerch" class="bi bi-x"></em>
            </a>
            <div *ngIf="isShowSerch" class="show-filter-section container" id="filter-modal" tabindex="-1"
              aria-labelledby="exampleModalLabel" aria-hidden="false">
              <app-dashboard-filter-modal [type]="'quotation'" (filterbody)="onFilterSubmit($event)"
                (onCloseSection)="isShowSerch = false"   (onClearFilter)="onClearFilter()"
            [quotationTag]="quotationTag" [freightTypeTag]="freightTypeTag"
                ></app-dashboard-filter-modal>
            </div>
          </span>
          
        </div>
      </div>
      <div  [ngClass]="isShowSerch === false ? '' : 'minheight'">
        <div *ngIf="!isShowSerch">
          <div class="row pb-4" *ngIf="productData.length > 0; else noBookingData">
            <ng-container *ngFor="let product of productData | paginate: { itemsPerPage: 10, currentPage: pageCount } "> 
              <app-dashboard-overview-card [type]="'quotation'" [Data]="product" (click)="setPageNo(pageCount)"  (click)="routetodata(product)">
              </app-dashboard-overview-card> 
            </ng-container>
            <div class="d-flex w-100 justify-content-center mt-3 pagination">
              <pagination-controls [autoHide]="true" (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
          
          </div>
        </div>
        <ng-template #noBookingData>
          <!-- <app-loader></app-loader> -->
          <div class="container align-items-center py-5"  >
            <h2 class="heading--h2 text-center py-5 color--label text-capitalize">
               <span>{{loading? _gc?.LOADER_TEXT:'No Inquiry Available'}}</span>
            </h2>
          </div>
        </ng-template>
      </div>
    </div> 
     