::ng-deep {

    .cdk-overlay-container,
    .cdk-overlay-pane {
        z-index: 2000 !important;
    }
}
.tag-doc{
    padding: 5px;
    background-color: #f8f8f8;
    border: 1px solid darkgray;
    margin-top: 4px;
    position: absolute;
    border-radius: 5px;
}