.modal-header-global-style {
    @include heading-4;
    color: var(--theme-modal-header-text-style);
}

.modal-close-icon {
    @include pointer;
    font-size: 12px;
    color: var(--text-gray-750);
}