<section class="forgot-passowrd-page-alignment">
    <div class="login-box-design">
        <form [formGroup]="resetPasswordForm">
            <div class="forgot-passowrd-text-style">
                <h2>Reset Password</h2>
                <p>
                    Enter 6-digit OTP sent your registered eamil address. OTP will expire in 30 seconds.
                </p>
            </div>
            <div class="cus-form">
                <label>Enter OTP <span class="text-danger">*</span></label>
                <input type="text" (keypress)="numericOnly($event)" required maxlength="6" formControlName="otp" />

                <span class="error-msg-main error-msg"
                    *ngIf="resetPasswordForm.controls['otp'].invalid && (resetPasswordForm.controls['otp'].dirty || resetPasswordForm.controls['otp'].touched)">
                    <span class="error-msg" *ngIf="resetPasswordForm.controls['otp'].errors?.['required']">Please fill
                        field</span>
                    <span class="error-msg" *ngIf="resetPasswordForm.controls['otp'].errors?.['minlength']">OTP Should
                        be of 6 digits</span>
                </span>
            </div>
            <div class="cus-form">
                <label>New Password</label>

               
                <div class="relatie-icon">
                    <input type="{{ showPasswordText ? 'text' : 'password'}}" required minlength="8" maxlength="15"
                        formControlName="password" />
                    <div class="icon-alignment">
                        <span class="fa form-control-feedbacks text-white" [ngClass]="{
                        'fa-eye-slash': !showPasswordText,
                        'fa-eye': showPasswordText
                      }" (click)="showPassword()">

                        </span>
                    </div>
                </div>

                <span class="error-msg-main error-msg"
                    *ngIf="resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)">
                    <span class="error-msg" *ngIf="resetPasswordForm.controls['password'].errors?.['required']">Please
                        fill
                        field</span>
                    <span class="error-msg" *ngIf="resetPasswordForm.controls['password'].errors?.['minlength']">Minimum
                        8
                        charachers are allowed</span>
                    <span class="error-msg" *ngIf="resetPasswordForm.controls['password'].errors?.['maxlength']">Maximum
                        15
                        charachers are allowed</span>
                    <span class="error-msg"
                        *ngIf="resetPasswordForm.controls['password'].errors?.['noWhiteSpace']">Whitespaces
                        are not allowed</span>
                    <span class="error-msg" *ngIf="resetPasswordForm.controls['password'].errors?.['hasNumber'] || resetPasswordForm.controls['password'].errors?.['hasCapitalCase'] || resetPasswordForm.controls['password'].errors?.['hasSmallCase'] || resetPasswordForm.controls['password'].errors?.['hasSpecialCharacters'] ||
                        resetPasswordForm.controls['password'].errors?.['minlength'] ">
                        Password must be at least 8 characters long one uppercase with one lowercase , one
                        numeric and one special character
                    </span>
                </span>
            </div>
            <div class="cus-form">
                <label>Confirm New Password</label>
                <div class="relatie-icon">
                    <input type="{{ showConfirmPasswordText ? 'text' : 'password'}}" required minlength="8"
                        maxlength="15" formControlName="confirmPassword" />
                    <div class="icon-alignment">
                        <span class="fa form-control-feedbacks text-white" [ngClass]="{
                            'fa-eye-slash': !showConfirmPasswordText,
                            'fa-eye': showConfirmPasswordText
                          }" (click)="showConfirmPassword()">
                        </span>
                    </div>
                </div>

                <span class="error-msg-main error-msg"
                    *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && (resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched)">
                    <span class="error-msg"
                        *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['required']">Please
                        fill field</span>
                    <span class="error-msg"
                        *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['minlength']">Minimum
                        8 charachers are allowed</span>
                    <span class="error-msg"
                        *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['maxlength']">Maximum
                        15 charachers are allowed</span>
                    <span class="error-msg"
                        *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['noWhiteSpace']">Whitespaces
                        are not allowed</span>
                    <span class="error-msg"
                        *ngIf="issubmit && resetPasswordForm.controls['confirmPassword'].errors?.['confirmation']">Passwords
                        are not same</span>
                    <span class="error-msg" *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['hasNumber'] || resetPasswordForm.controls['confirmPassword'].errors?.['hasCapitalCase'] || resetPasswordForm.controls['confirmPassword'].errors?.['hasSmallCase'] || resetPasswordForm.controls['confirmPassword'].errors?.['hasSpecialCharacters'] ||
                        resetPasswordForm.controls['confirmPassword'].errors?.['minlength'] ">
                        Password must be at least 8 characters long one uppercase with one lowercase , one
                        numeric and one special character
                    </span>
                </span>
            </div>
            <div class="btn-design">
                <button type="submit" (click)="resetPassword()" >Reset Password</button>
            </div>
            <div class="btn-design-outline">
                <button>
                    <a href="#" class="text-white">Back to Sign
                        In</a>
                </button>
            </div>
        </form>
    </div>
</section>
<ng-template #recordadded let-modal let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body p-25 pt-10">
            <div class="portcall-content">
                <div class="text2">
                    {{apimessage}}
                </div>
                <div class="form-btn">
                    <div class="link1 link1-new"><a class="pointer-cursor" (click)="d('Cross click')">Ok</a></div>

                </div>
            </div>
        </div>
    </div>
</ng-template>

<div class="loader-panel" *ngIf="showloader">
    <div id="loader"></div>
</div>