.divider:after,
.divider:before {content: "";flex: 1;height: 1px;background: #eee;}
.h-custom {height: calc(100% - 73px);}
.form-control::placeholder { color: white;}
.input-icons{margin-top: 6px;right:3%;}
.form-control-feedbacks{margin-right: 15px;}
.bi-chevron-right::before{padding:2px 0px 0px 7px;font-weight: 900 !important;}
button{font-weight: 700;}
.images{padding: 100px 40px !important;}
.wrap-form-field .custom-input{
  color: #fff;
  
}
.bg-primary{

 background-color : var(--theme-red-color) !important;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  border-bottom: 1px solid var(--theme-border-bottom-color);
  -webkit-text-fill-color: #222;
  -webkit-box-shadow: 0 0 0px 0 #007BFF inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media (max-width: 600px){   
    .h-100{display: none;}
    .h-custom {
      min-height:calc(100vh - 59px);
    }
}
.logo-top{
  display: flex;
  justify-content: center;
  img{
    width: 20% !important;
  }
}
.logo-bottom{
  display: flex;
  justify-content: center;
}



.forgot-passowrd-page-alignment {
  min-height: 100vh;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f4;

  .login-box-design {
    background: #ffffff;
    width: 516px;
    padding: 40px;

    .logo-alignment {
      display: flex;
      padding: 0 0 40px 0;
      justify-content: center;
      img {
        max-width: 180px;
      }
    }

    .forgot-passowrd-text-style {
      padding: 0 0 30px 0;
      h2 {
        font-size: 12px;
        line-height: 30px;
        color: var(--theme-gray-800);
        font-weight: 600;
      }

      p {
        font-size: 12px;
        line-height: 22px;
        color: var(--theme-gray-800);
        margin: 0;
      }
    }

    .btn-design {
      button {
        width: 100%;
      }
    }

    .checkbox-text-alignment {
      
      display: flex;
      align-items: center;
      gap: 6px;

      label {
        padding-left: 27px;
      }

      input[type="checkbox"] {
        width: 18px;
      height: 18px;
      margin: 0;
      padding: 0;
      }
    }
    .forgot-passowrd {
      font-size: 12px;
      text-align: right;
      color: #323232;
      text-decoration-line: underline;
      display: block;
    }

    .checkbox-text-style {
      font-size: 12px;
      line-height: 20px;
      color: #323232;
    }

    .relatie-icon {
      position: relative;

      .icon-alignment {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        cursor: pointer;
        right: 14px;
        .fa.fa-eye, .fa.fa-eye-slash {
          font-family: "Font Awesome 6 Free" !important;
          font-weight: 400;
          color: #777 !important;
      }
      }
    }

    .btn-design-outline {
      padding: 20px 0 0 0;

      button {
        width: 100%;
      }
    }

    .cus-form {
      padding: 0 0 30px 0;
      
      p {
        font-size: 12px;
        line-height: 20px;
        display: block;
        color: var(--theme-gray-800);
        padding: 6px 0 0 0;
        font-weight: 500;
      }

      label {
        font-size: 12px;
        line-height: 20px;
        display: block;
        color: #323232;
        padding: 0 0 6px 0;
        font-weight: 500;
      }
      ::placeholder {
        color: #9c9fa6;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;

      }
      input {
        width: 100%;
        border: 1px solid var(--theme-border-color-light);
        height: 50px;
        padding: 0 16px;
        font-size: 12px;
        border-radius: 4px;
        line-height: 20px;
        color: #222;
        font-weight: 500;
        background-color: transparent;
        transition: .3s ease-in-out;
        &:focus {
          outline: none;
           border: 1px solid var(--theme-red-color);
        }
      }
    }
  }
}