<!-- 
<div class="blur-loader"  *ngIf="loaderService.isLoadingcircle">
  <div class="spinner">
    <div></div>   
    <div></div>    
    <div></div>    
    <div></div>    
  </div>
</div> -->

<!-- <div class="loader-overlay" *ngIf="loaderService.isLoadingcircle">
  <div class="spinner"></div>
  <p>checking your credentials and logging you in...</p>
</div> -->


<div class="loader-overlay"  *ngIf="loaderService.isLoadingcircle">
  <div class="dot-container">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  <p>Please wait while we gather the latest data for you...</p>
</div>

