<div class="mat-table-with-gheading mt-3">
  <div class="wrap-table-area " *ngIf="false">
    <div class="row">
      <div class="col-md-12">
        <div class="float-clear-mobile-view d-flex flex-column flex-sm-row gap-3 float-start search-section">
          <div class="input-group custom-input">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search">
          </div>
        </div>
        <div class="globally-chnage-mobile-view d-flex flex-column flex-sm-row gap-3 float-end wrap-pagination pb-2 ">
          <div class="mt-2">
            <span>
              <h5>{{ fromSize }}-{{ count }} of {{ toalLength }}</h5>
            </span>
          </div>
          <div class="mt-2">

            <span class="prv" [class.disable-arrow-sign]="fromSize === 1" (click)="prev()"><em
                class="typcn typcn-chevron-left"></em></span>
            <span class="prv" [class.disable-arrow-sign]="count === toalLength" (click)="next()"><em
                class="typcn typcn-chevron-right"></em></span>
          </div>
          <div class="mt-2">
            <select class="form-select form-select-sm" (change)="filter($event)">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
          <div class="mt-2">
            <a class="btn btn-outline-primary btn-sm rounded-pill" (click)="openPDF()">{{
              'common.print' | translate }} {{
                'common.list' | translate }}</a>
          </div>
          <div class="mt-2">
            <a class="btn btn-outline-primary btn-sm rounded-pill" (click)="exportAsExcelFile()">{{
              'common.exportToExcel' | translate }}</a>
          </div>
          <div class="mt-2">
            <a class="new-action">
              <button class="addnew" (click)="open(adduser)">{{ 'stolt.masters.user.add_user' | translate }}</button>
            </a>

          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive" id="htmlData">
          <table aria-describedby="mytable" class="">
            <thead>
              <tr class="field-name">
                <th scope="col" class="width20 text-center">Action</th>
                <th scope="col" class="width20 ">{{ 'masters.user.firstname' | translate }}   <em class="typcn typcn-arrow-unsorted arrow-icons"></em></th>
                <th scope="col" class="width15 ">{{ 'masters.user.lastname' | translate }} </th>
                <th scope="col" class="width15 ">User Name</th>
                <th scope="col" class="width15 ">{{ 'stolt.masters.user.email' | translate }} </th>
                <th scope="col" class="width15 ">{{ 'stolt.masters.user.role' | translate }}   <em class="typcn typcn-arrow-unsorted arrow-icons"></em></th>
                <th scope="col" class="width20 ">{{ 'stolt.masters.user.phoneno' | translate }}   <em class="typcn typcn-arrow-unsorted arrow-icons"></em></th>
                <th scope="col" class="width10 ">{{ 'stolt.masters.user.office' | translate }}</th>
                <th scope="col"></th>
              </tr>
              <tr>
                <th scope="col"></th>
                <th scope="col"><input type="text" class="form-control" id="" [(ngModel)]="userFirstName"
                    (keydown.enter)="search()"></th>
                <th scope="col"><input type="text" class="form-control" id="" [(ngModel)]="userLastName"
                    (keydown.enter)="search()"></th>
                <th scope="col"><input type="text" class="form-control" id="" [(ngModel)]="userName"
                    (keydown.enter)="search()"></th>
                <th scope="col"><input type="text" class="form-control" id="" [(ngModel)]="userEmail"
                    (keydown.enter)="search()"></th>
                <th scope="col"><input type="text" class="form-control" id="" [(ngModel)]="userRole"
                    (keydown.enter)="search()"></th>
                <th scope="col"><input type="text" class="form-control" id="" [(ngModel)]="userPhoneNo"
                    (keydown.enter)="search()"></th>
                <th scope="col"><input type="text" class="form-control" id="" [(ngModel)]="userLocation"
                    (keydown.enter)="search()"></th>

                <th scope="col" class="wrap-table-btn">
                  <button type="button" class="bi bi-search btn btn-outline-primary btn-sm rounded-pill" (click)="search()">
                    
                  </button>
                  <a (click)="clear()" class="bi bi-arrow-clockwise btn btn-outline-primary btn-sm rounded-pill"></a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userData; let i = index ">
                <td class="action-field">
                  <span nz-tooltip nzTooltipTitle="{{ 'common.edit' | translate }}" class="mtop boot-icon"><a
                      (click)="open(adduser,user)"><em class="bi bi-pencil color-pencil-red"></em></a>
                  </span>
                  <span nz-tooltip nzTooltipTitle="{{ 'common.view' | translate }}"><a
                    (click)="open(adduser,user,'show')"><em
                        class="bi bi-eye globally-change-icon-color"></em></a></span>
                 
                  <span class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                      [checked]="user?.userStatus"
                      (change)="ngOnUserActiveInActive($event.target.checked,user)">
                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                  </span>
                </td>
                <td>{{user.name}}</td>
                <td>{{user.userLastname}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.userEmail}}</td>
                <td>{{user?.roles?.[0]?.roleName}}</td>
                <td>{{user?.phoneNo}}</td>
                <td>{{user?.officeLocation}}</td>
              
              </tr>
            </tbody>
          </table>
        </div>
        <div class="no-data-availble" *ngIf="userData.length === 0">
          {{'common.no_data' | translate}}
        </div>
      </div>

    </div>
  </div>

  <div class="table-header-area">
    <div>
      <table-filters [TDP]="[false, false, true, true]" (filterInput)="applyFilter($event)"
        (onClickExport)="export()">
      </table-filters>
    </div>
    <div class="header-right" >  
      <a (click)="open(adduser)"   class="max-con new-action  btn btn-outline-primary btn-sm rounded-pill"
      >{{ 'stolt.masters.user.add_user' | translate }}</a>
    </div>
  </div>

  <div class="table-card">
  <div class="table-design example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="" summary="agreement">
    
      <ng-container matColumnDef="#"  >
        <th scope="col" mat-header-cell *matHeaderCellDef  >
          # <em class="custom-tooltip" [attr.title]="'Toggle Filters'"  (click)="toggleFilters = !toggleFilters" class="bi bi-search"></em>
        </th>
        <td mat-cell *matCellDef="let element;let i = index">
          {{ element?.id}} 
          <!-- <span>
            <input [disabled]="element.soaGenerated" type="checkbox" [value]="element.invoiceId"
            (change)="onSelectCheckBoxBills($event)">
          </span> -->
        </td>
      </ng-container>
 
      <ng-container matColumnDef="name"  >
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          Name 
        </th>
        <td mat-cell *matCellDef="let element">
          {{ (element?.name  +" "+ element?.userLastname)| titlecase }}
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="userLastname"  >
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
           Last Name
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.userLastname }}
        </td>
      </ng-container> -->
      <ng-container matColumnDef="userName"  >
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          User Name
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.userName | titlecase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="userEmail"  >
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          Email
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.userEmail  }}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="roles"  >
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          Roles  
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.roles?.[0]?.roleName | titlecase}}
        </td>
      </ng-container>

      <ng-container matColumnDef="phoneNo"  >
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          Phone No.
        </th>
        <td class="text-end" mat-cell *matCellDef="let element">
          {{ element?.phoneNo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="officeLocation"  >
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          Branch
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.agentBranchName | titlecase}}
        </td>
      </ng-container>
 
      <ng-container matColumnDef="action"  >
        <th scope="col" id="action" class="charterersPdfHead" mat-header-cell   *matHeaderCellDef >
          {{ 'Actions' }}
        </th>
        <td class="borderBottom" mat-cell *matCellDef="let element" > 
              <!-- <em class="bi bi-three-dots dots-color-change cursor-pointer wrap-batch1  border px-1 em-icon"> -->
                <!-- <div class="">
                  <div class=""> -->
                  <div  class="wrap-inside icon-space" >
                    <span  class="mtop">
                      <a (click)="open(adduser,element)"><em class="bi bi-pencil color-pencil-red"></em> </a>
                    </span>
                    <span  class="mtop">
                      <a (click)="open(adduser,element,'show')"><em class="bi bi-eye globally-change-icon-color"></em> </a>
                    </span>
                    <span class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                        (change)="ngOnUserActiveInActive($event.target.checked,element)" [checked]="element?.userStatus" /> 
                    </span>
               
                  </div>
                   <!-- </div>
                </div> -->
              <!-- </em>  -->
        </td>
      </ng-container>

      <ng-container *ngFor="let headersFilter of displayedColumns1; let i=index" [matColumnDef]="headersFilter">
        <th mat-header-cell *matHeaderCellDef [class.display-none]="toggleFilters">
          <div  class="filters-container" [class.animate]="!toggleFilters"  > 
            <!-- <em *ngIf="i == 0" class="custom-tooltip" [attr.title]="'Clear Filters'" (click)="clearFilters();toggleFilters = !toggleFilters" class="bi bi-x-circle"></em> -->
            <div *ngIf="i > 0 && i < displayedColumns1.length - 1" appearance="outline">
              <input class="form-control input-txt"  placeholder="Press 'Enter' to search" [(ngModel)]="filtersModel[i]" (keyup.enter)="searchColumns()" >
            </div>
            <em *ngIf="i === displayedColumns1.length - 1" class="custom-tooltip" [attr.title]="'Clear Filters'" (click)="clearFilters();toggleFilters = !toggleFilters" class="bi bi-x-circle"></em>
          </div>
        </th>
      </ng-container>


      <tr mat-header-row class="header-height" *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row class="no-default-height"  *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length" class="text-center">
          <span *ngIf="loaderService?.isLoadingcircle">{{_gc?.LOADER_TEXT}}</span>
          <span *ngIf="!loaderService?.isLoadingcircle && !dataSource?.data?.length">No data available</span>
        </td>
      </tr>
    </table>
   
  </div>
  <div [ngClass]="{'display-none' : toalLength < 10}">
    <mat-paginator [length]="toalLength" [pageSize]="pageSize" [pageIndex]="pageNumber-1"
      (page)="onPageChange($event)"  [pageSizeOptions]="_gc.PAGINATOR_OPTIONS" showFirstLastButtons></mat-paginator>
  </div>
</div>
</div>
<ng-template #adduser let-modal>
  <app-adduser [user]="getUser" [isType]="show" (setRefreshUserList)="getRefreshUserList()"></app-adduser>
</ng-template>
<ng-template #deleteuser let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close btn1 shadow-none" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body mt-4">
      <em class="ion-ios7-help-outline text-danger fs-2 text-center float-start me-2">
      </em>
      <span class="text-dark fs-6"> {{ "error.msg_delete" | translate }}</span>
    </div>
    <div class="modal-footer">
      <div class="text-center">
        <button type="button" class="btn btn-secondary btn-sm me-3" (click)="d('Cross click')">
          No
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="c('yes')">
          Yes
        </button>
      </div>
    </div>
  </div>
</ng-template>