<div class="table-with-gheading">
  <div class="wrap-table-area">
    <div class="row mb-5">
      <form [formGroup]="newenquiryForm">
        <div class="col-md-12">



          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-3">
                  <div class="d-grid-2">
                    <span class="header">Prov. Income :</span>
                    <span class="text font-weight-bold green"> {{sellTaxable | number : '1.2-2'
                      | customCurrency:batchDetails?.quotationDetails?.currencyShortName }} </span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="d-grid-2">
                    <span class="header">Prov. Expense :</span>
                    <span class="text font-weight-bold red"> {{buyTaxable| number : '1.2-2'
                      | customCurrency:batchDetails?.quotationDetails?.currencyShortName }} </span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="d-grid-2">
                    <span class="header">Prov. Margin :</span>
                    <span class="text font-weight-bold" [ngStyle]="{'color': isNegative1 ? 'red' : 'green'}">
                      {{sellTaxable - buyTaxable | number : '1.2-2'
                      | customCurrency:batchDetails?.quotationDetails?.currencyShortName }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="!isShow">
              <div class="wrap-form-field  wrap-pagination  d-flex justify-content-end">
                <div class="mb-2" *ngIf="isImport">
                  <a class="max-con btn btn-outline-primary btn-sm rounded-pill"
                    (click)="mail('add', '', 'document')">Create Freight Certificate </a>
                </div>
                <div class="mb-2">
                  <a class="max-con btn btn-outline-primary btn-sm rounded-pill" (click)="addChargeRow()">Add Charge
                    Item </a>
                </div>
                <div class="mb-2">
                  <select (change)="changeInoice($event)">
                    <option disabled selected value="">Create Invoice</option>
                    <option value="buyerInvoice">Purchase Invoice</option>
                    <option value="sellerInvoice">Sale Invoice</option>
                  </select>

                </div>
                <i class="bi bi-info-circle" matTooltip="please select invoice" matTooltipClass="custom-tooltip"
                  style="padding-left: 4px; margin-bottom: 10px;"></i>
              </div>


            </div>
          </div>

        </div>
        <div class="col-md-12">
          <div class="table-charge ">
            <table aria-describedby="mytable" class="gfg">
              <thead>
                <tr class="field-name">
                  <th scope="col" class="text-center"> </th>
                  <th scope="col" class="text-center"> </th>
                  <th scope="col" class="text-center"> </th>
                  <th colspan="3" scope="col" class="text-center">Quantity</th>

                  <th *ngIf="gstType==='cgst' && isIndian()" colspan="11" scope="col" class="text-center buyEstimate">
                    Buy Estimates</th>
                  <th *ngIf="(gstType==='igst' || gstType==='tax')  && isIndian()" colspan="11" scope="col"
                    class="text-center buyEstimate">Buy Estimates</th>
                  <th *ngIf="!isIndian()" colspan="10" scope="col" class="text-center buyEstimate">Buy Estimates</th>

                  <th *ngIf="gstType==='cgst'  && isIndian()" colspan="11" scope="col" class="text-center sellEstimate">
                    Sell Estimates</th>
                  <th *ngIf="(gstType==='igst' || gstType==='tax')  && isIndian()" colspan="11" scope="col"
                    class="text-center sellEstimate">Sell Estimates</th>
                  <th *ngIf="!isIndian()" colspan="10" scope="col" class="text-center sellEstimate">Sell Estimates</th>




                  <th scope="col" class="text-center sellEstimate"></th>
                  <th scope="col" class="text-center buyEstimate"></th>
                  <th scope="col" class="text-center"></th>
                  <th scope="col" class="text-center"></th>
                </tr>
                <tr class="field-name">
                  <th scope="col" class="text-center">#</th>
                  <th scope="col" class="text-center">Charge Item </th>
                  <th scope="col" class="text-center">HSN Code </th>
                  <th scope="col" class="text-center">Basis </th>
                  <th scope="col" class="text-center">Qty</th>
                  <th scope="col" class="text-center" *ngIf="isIndian()">GST</th>
                  <th scope="col" class="text-center" *ngIf="!isIndian()">TAX</th>


                  <th scope="col" class="text-center buyEstimate">Cur.</th>
                  <th scope="col" class="text-center buyEstimate">Buy Rate</th>
                  <th scope="col" class="text-center buyEstimate">Buy Total</th>
                  <th scope="col" class="text-center buyEstimate">Ex. Rate</th>

                  <th scope="col" class="text-center buyEstimate">Taxable
                    ({{batchDetails?.quotationDetails?.currencyShortName }})</th>
                  <th scope="col" class="text-center buyEstimate">Tax Amount
                    ({{batchDetails?.quotationDetails?.currencyShortName }})</th>

                  <ng-container *ngIf="gstType==='cgst' && isIndian()">
                    <th scope="col" class="text-center buyEstimate">CGST</th>
                    <th scope="col" class="text-center buyEstimate">SGST</th>
                  </ng-container>
                  <ng-container *ngIf="gstType==='igst' && isIndian()">
                    <th scope="col" class="text-center buyEstimate">IGST</th>
                  </ng-container>
                  <ng-container *ngIf="gstType==='tax' && isIndian()">
                    <th scope="col" class="text-center buyEstimate">TAX</th>
                  </ng-container>

                  <th scope="col" class="text-center buyEstimate">Total Buy
                    ({{batchDetails?.quotationDetails?.currencyShortName }})</th>
                  <th scope="col" class="text-center buyEstimate">Invoices</th>
                  <th scope="col" class="text-center buyEstimate">Terms</th>
                  <th scope="col" class="text-center buyEstimate">Supplier</th>

                  <th scope="col" class="text-center sellEstimate">Cur.</th>
                  <th scope="col" class="text-center sellEstimate">Sell Rate</th>
                  <th scope="col" class="text-center sellEstimate">Sell Total</th>
                  <th scope="col" class="text-center sellEstimate">Ex. Rate</th>

                  <th scope="col" class="text-center sellEstimate">Taxable ({{
                    batchDetails?.quotationDetails?.currencyShortName }})</th>
                  <th scope="col" class="text-center sellEstimate">Tax Amount ({{
                    batchDetails?.quotationDetails?.currencyShortName }})</th>
                  <ng-container *ngIf="gstType==='cgst' && isIndian()">
                    <th scope="col" class="text-center sellEstimate">CGST</th>
                    <th scope="col" class="text-center sellEstimate">SGST</th>
                  </ng-container>
                  <ng-container *ngIf="gstType==='igst' && isIndian()">
                    <th scope="col" class="text-center sellEstimate">IGST</th>
                  </ng-container>
                  <ng-container *ngIf="gstType==='tax' && isIndian()">
                    <th scope="col" class="text-center sellEstimate">TAX</th>
                  </ng-container>
                  <th scope="col" class="text-center sellEstimate">Total Sell
                    ({{batchDetails?.quotationDetails?.currencyShortName }})</th>
                  <th scope="col" class="text-center sellEstimate">Invoices</th>
                  <th scope="col" class="text-center sellEstimate">Terms</th>
                  <th scope="col" class="text-center sellEstimate">Remarks</th>
                  <th scope="col" class="text-center sellEstimate">Sell Estimates</th>
                  <th scope="col" class="text-center buyEstimate">Buy Estimates</th>
                  <th scope="col" class="text-center">Margin</th>
                  <th scope="col" class="text-center">Action</th>

                </tr>
              </thead>
              <tbody formArrayName="charge">
                <tr class="collapse-ui" *ngFor="let row of getChargeControls(); let i=index" [formGroupName]="i">
                  <td>{{i+1}}</td>
                  <td>
                    <div class="d-flex gap-2">
                      <span *ngIf="row.get('buyInvoice').value" class="status-bar1 {{row.get('invoiceStatus').value}}">
                        {{row.get('buyInvoice').value? 'B':null}}
                      </span>
                      <span *ngIf="row.get('sellInvoice').value" class="status-bar1 {{row.get('invoiceStatus').value}}">
                        {{row.get('sellInvoice').value?'S':null}}
                      </span>

                      <div class="w-100">
                        <nz-select class="form-select" nzShowSearch nzAllowClear formControlName="chargeName"
                          (ngModelChange)="setGSTtoRow(i)"
                          [ngClass]="{'is-invalid': submitted && row?.get('chargeName')?.errors}">
                          <nz-option *ngFor="let data of  chargeName " [nzLabel]="data.costitemName"
                            [nzValue]="data.costitemId"></nz-option>
                        </nz-select>
                        <div *ngIf="submitted && row?.get('chargeName')?.errors" class="invalid-feedback">
                          <div *ngIf="row?.get('chargeName')?.errors.required">{{
                            'stolt.batch.charges.new.ChargeName' | translate }} is
                            required</div>
                        </div>
                      </div>

                    </div>

                  </td>
                  <td>
                    {{row?.get('hsnCode').value}}
                    <!-- <input appDecimalInput  formControlName="hsnCode" type="number" class="form-control custom-input"> -->
                  </td>
                  <td><nz-select class="form-select" nzShowSearch nzAllowClear formControlName="basic"
                      [ngClass]="{'is-invalid': submitted && row?.get('basic')?.errors}"
                      (ngModelChange)="setQuantity(i)">
                      <nz-option *ngFor="let enquiryType of  chargeBasic" [nzLabel]="enquiryType.typeName"
                        [nzValue]="enquiryType.systemtypeId"></nz-option>
                    </nz-select>
                    <div *ngIf="submitted && row?.get('basic')?.errors" class="invalid-feedback">
                      <div *ngIf="row?.get('basic')?.errors.required">Basis is
                        required</div>
                    </div>
                  </td>
                  <td> <input formControlName="quantity" type="number" class="form-control custom-input"
                      [ngClass]="{'is-invalid': submitted && row?.get('quantity')?.errors}" (keyup)="calcBuyAMT(i) "
                      (wheel)="$event.preventDefault()">
                    <div *ngIf="submitted && row?.get('quantity')?.errors" class="invalid-feedback">
                      <div *ngIf="row?.get('quantity')?.errors.required">Quantity
                        is required</div>
                    </div>
                  </td>
                  <td>
                    <!-- <input formControlName="gst" type="number"
                    class="form-control custom-input" readonly
                    [ngClass]="{'is-invalid': submitted && row?.get('gst')?.errors}"
                     >
                <div *ngIf="submitted && row?.get('gst')?.errors"
                    class="invalid-feedback">
                    <div *ngIf="row?.get('gst')?.errors.required">GST
                        is required</div>
                </div> -->

                    <!-- {{row?.get('gst').value}}% -->

                    <input formControlName="gst" type="number" class="form-control custom-input"
                      [ngClass]="{'is-invalid': submitted && row?.get('gst')?.errors}" (keyup)="calcBuyAMT(i)"
                      (wheel)="$event.preventDefault()">

                  </td>




                  <td class="buyEstimate">
                    <nz-select class="form-select" nzShowSearch nzAllowClear formControlName="currencyBuy"
                      [ngClass]="{'is-invalid': submitted && row?.get('currencyBuy')?.errors}"
                      (ngModelChange)="buyCurrChange(i)">
                      <nz-option *ngFor="let data of  currencyList " [nzLabel]="data.currencyShortName"
                        [nzValue]="data.currencyId"></nz-option>
                    </nz-select>

                    <div *ngIf="submitted && row?.get('currencyBuy')?.errors" class="error-msg">
                      <div *ngIf="row?.get('currencyBuy')?.errors.required">{{
                        'stolt.batch.charges.new.Currency' | translate }} is
                        required
                      </div>
                    </div>
                  </td>

                  <td class="buyEstimate">
                    <input [appDecimalInput]="decimalNumber" formControlName="buyRate" type="number"
                      class="form-control custom-input"
                      [ngClass]="{'is-invalid': submitted && row?.get('buyRate')?.errors}" (keyup)="calcBuyAMT(i)"
                      (wheel)="$event.preventDefault()">
                    <div *ngIf="submitted && row?.get('buyRate')?.errors" class="invalid-feedback">
                      <div *ngIf="row?.get('buyRate')?.errors.required">Rate is required</div>
                    </div>
                  </td>

                  <td class="text-end buyEstimate"> {{row?.get('buyTotal').value | number : '1.2-2' }} </td>
                  <td class="buyEstimate"> <input [appDecimalInput]="decimalNumber" formControlName="buyExRate"
                      type="number" class="form-control custom-input"
                      [ngClass]="{'is-invalid': submitted && row?.get('buyExRate')?.errors}" (keyup)="calcBuyAMT(i)"
                      (wheel)="$event.preventDefault()">
                    <div *ngIf="submitted && row?.get('buyExRate')?.errors" class="invalid-feedback">
                      <div *ngIf="row?.get('buyExRate')?.errors.required">Ex. Rate
                        is required</div>
                    </div>
                  </td>


                  <td class="text-end buyEstimate"> {{row?.get('buyTaxable').value | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }} </td>
                  <td class="text-end buyEstimate"> {{row?.get('buyIgst').value | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }} </td>

                  <ng-container *ngIf="gstType==='cgst' && isIndian()">
                    <td class="text-end buyEstimate"> {{row?.get('buyCgst').value | number : '1.2-2' |
                      customCurrency:batchDetails?.quotationDetails?.currencyShortName}} </td>
                    <td class="text-end buyEstimate"> {{row?.get('buySgst').value | number : '1.2-2' |
                      customCurrency:batchDetails?.quotationDetails?.currencyShortName}} </td>
                  </ng-container>
                  <ng-container *ngIf="(gstType==='igst' || gstType==='tax') && isIndian()">
                    <td class="text-end buyEstimate"> {{row?.get('buyIgst').value | number : '1.2-2' |
                      customCurrency:batchDetails?.quotationDetails?.currencyShortName}} </td>
                  </ng-container>


                  <td class="red text-end buyEstimate"> {{row?.get('buyTotalINR').value | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }} </td>
                  <td class="text-end buyEstimate"><a (click)="goto(row?.get('buyInvoiceId').value,'buyerInvoice')"
                      style="color: blue;">{{row?.get('buyInvoice').value}}</a> </td>


                  <td class="buyEstimate"> <nz-select class="form-select" nzShowSearch nzAllowClear
                      formControlName="buyTerm" [ngClass]="{'is-invalid': submitted && row?.get('buyTerm')?.errors}">
                      <nz-option *ngFor="let data of chargeTermList" [nzLabel]="data.typeName"
                        [nzValue]="data.typeName"></nz-option>
                    </nz-select>
                    <div *ngIf="submitted && row?.get('buyTerm')?.errors" class="invalid-feedback">
                      <div *ngIf="row?.get('buyTerm')?.errors.required">{{
                        'stolt.batch.charges.new.ChargeTerm' | translate }} is
                        required</div>
                    </div>
                  </td>
                  <td class="buyEstimate">
                    <nz-select class="form-select" nzShowSearch nzAllowClear formControlName="supplier"
                      [ngClass]="{'is-invalid': submitted && row?.get('supplier')?.errors}">
                      <nz-option *ngFor="let data of supplierList"
                        nzLabel="{{data?.partyShortcode}}{{data?.partyShortcode ? '-': ''}}{{data.name}}"
                        [nzValue]="data.partymasterId"></nz-option>
                    </nz-select>
                    <div *ngIf="submitted && row?.get('supplier')?.errors" class="invalid-feedback">
                      <div *ngIf="row?.get('supplier')?.errors.required">{{ 'stolt.batch.charges.new.ChargeTerm'
                        | translate }} is
                        required</div>
                    </div>
                  </td>
                  <td class="sellEstimate">
                    <nz-select class="form-select" nzShowSearch nzAllowClear formControlName="currencySell"
                      [ngClass]="{'is-invalid': submitted && row?.get('currencySell')?.errors}"
                      (ngModelChange)="sellCurrChange(i)">
                      <nz-option *ngFor="let data of   currencyList " [nzLabel]="data.currencyShortName"
                        [nzValue]="data.currencyId"></nz-option>
                    </nz-select>

                    <div *ngIf="submitted && row?.get('currencySell')?.errors" class="error-msg">
                      <div *ngIf="row?.get('currencySell')?.errors.required">{{
                        'stolt.batch.charges.new.Currency' | translate }} is
                        required
                      </div>
                    </div>
                  </td>
                  <td class="sellEstimate"> <input [appDecimalInput]="decimalNumber" formControlName="sellRate"
                      type="number" class="form-control custom-input"
                      [ngClass]="{'is-invalid': submitted && row?.get('sellRate')?.errors}" (keyup)="calcBuyAMT(i)"
                      (wheel)="$event.preventDefault()">
                    <div *ngIf="submitted && row?.get('sellRate')?.errors" class="invalid-feedback">
                      <div *ngIf="row?.get('sellRate')?.errors.required"> Rate
                        is required</div>
                    </div>
                  </td>
                  <td class="text-end sellEstimate "> {{row?.get('sellTotal').value | number : '1.2-2' }} </td>
                  <td class="sellEstimate"> <input [appDecimalInput]="decimalNumber" formControlName="sellExRate"
                      type="number" class="form-control custom-input"
                      [ngClass]="{'is-invalid': submitted && row?.get('sellExRate')?.errors}" (keyup)="calcBuyAMT(i)"
                      (wheel)="$event.preventDefault()">
                    <div *ngIf="submitted && row?.get('sellExRate')?.errors" class="invalid-feedback">
                      <div *ngIf="row?.get('sellExRate')?.errors.required">Ex. Rate
                        is required</div>
                    </div>
                  </td>
                  <td class="text-end sellEstimate"> {{row?.get('sellTaxable').value | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }} </td>

                  <td class="text-end sellEstimate"> {{row?.get('sellIgst').value | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }} </td>
                  <ng-container *ngIf="gstType==='cgst' && isIndian()">
                    <td class="text-end sellEstimate"> {{row?.get('sellCgst').value | number : '1.2-2' |
                      customCurrency:batchDetails?.quotationDetails?.currencyShortName}} </td>
                    <td class="text-end sellEstimate"> {{row?.get('sellSgst').value | number : '1.2-2' |
                      customCurrency:batchDetails?.quotationDetails?.currencyShortName}} </td>
                  </ng-container>
                  <ng-container *ngIf="(gstType==='igst' || gstType==='tax') && isIndian()">
                    <td class="text-end sellEstimate"> {{row?.get('sellIgst').value | number : '1.2-2' |
                      customCurrency:batchDetails?.quotationDetails?.currencyShortName}} </td>
                  </ng-container>


                  <td class="text-end sellEstimate green"> {{row?.get('sellTotalINR').value | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }} </td>
                  <td class="text-end sellEstimate"> <a (click)="goto(row?.get('sellInvoiceId').value,'sellerInvoice')"
                      style="color: blue;">{{row?.get('sellInvoice').value}}</a> </td>


                  <td class="sellEstimate"> <nz-select class="form-select" nzShowSearch nzAllowClear
                      formControlName="sellTerm" [ngClass]="{'is-invalid': submitted && row?.get('sellTerm')?.errors}">
                      <nz-option *ngFor="let data of chargeTermList" [nzLabel]="data.typeName"
                        [nzValue]="data.typeName"></nz-option>
                    </nz-select>
                    <div *ngIf="submitted && row?.get('sellTerm')?.errors" class="invalid-feedback">
                      <div *ngIf="row?.get('sellTerm')?.errors.required">{{
                        'stolt.batch.charges.new.ChargeTerm' | translate }} is
                        required</div>
                    </div>
                  </td>
                  <td class="sellEstimate">
                    <input formControlName="remarks" type="text" class="form-control custom-input"
                      [ngClass]="{'is-invalid': submitted && row?.get('remarks')?.errors}">
                    <div *ngIf="submitted && row?.get('remarks')?.errors" class="invalid-feedback">
                      <div *ngIf="row?.get('remarks')?.errors.required">remarks
                        is required</div>
                    </div>
                  </td>


                  <td class="text-end sellEstimate green"> {{row?.get('sellTotalINR').value | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }} </td>
                  <td class="red text-end buyEstimate"> {{row?.get('buyTotalINR').value | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }} </td>
                  <td class="text-end" [ngStyle]="{'color': row?.get('margin').value < 0 ? 'red' : 'green'}">
                    {{row?.get('margin').value | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }} </td>

                  <td class="action-field">
                    <span *ngIf="!isShow">
                      <span *ngIf="!(row?.get('isInvoiceCreated').value || row?.get('isPrincipleCreated').value)"
                        nz-tooltip nzTooltipTitle="{{ 'common.delete' | translate }}"
                        (click)="deleteCharge(content1,row,i)" class="mtop"><a><em
                            class="bi bi-trash color-pencil-red"></em></a>
                      </span>
                    </span>
                  </td>
                </tr>

                <tr *ngIf="getChargeControlsLength() > 0">
                  <td class="commonFooter">Total</td>
                  <td class="commonFooter"></td>
                  <td class="commonFooter"></td>
                  <td class="commonFooter" colspan="3"></td>

                  <td class="buyEstiTotal" *ngIf="gstType==='cgst' && isIndian()" colspan="8"></td>
                  <td class="buyEstiTotal" *ngIf="(gstType==='igst' || gstType==='tax') && isIndian()" colspan="7"></td>
                  <td class="buyEstiTotal" *ngIf=" !isIndian()" colspan="6"></td>
                  <td class="font-weight-bold text-end red buyEstiTotal">{{buyTotal | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }}</td>
                  <td class="buyEstiTotal" colspan="3"></td>

                  <td class="sellEstiTotal" *ngIf="gstType==='cgst' && isIndian()" colspan="8"></td>
                  <td class="sellEstiTotal" *ngIf="(gstType==='igst' || gstType==='tax') && isIndian()" colspan="7">
                  </td>
                  <td class="sellEstiTotal" *ngIf=" !isIndian()" colspan="6"></td>
                  <td class="font-weight-bold text-end green sellEstiTotal">{{sellTotal | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }}</td>
                  <td class="sellEstiTotal" colspan="3"></td>




                  <td class="font-weight-bold text-end green sellEstiTotal">{{sellTotal | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }}</td>
                  <td class="font-weight-bold text-end red buyEstiTotal">{{buyTotal | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }}</td>
                  <td class="font-weight-bold text-end commonFooter"
                    [ngStyle]="{'color': isNegative ? 'red' : 'green'}">{{sellTotal - buyTotal | number : '1.2-2' |
                    customCurrency:batchDetails?.quotationDetails?.currencyShortName }}</td>
                  <td class="commonFooter"> </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="no-data-availble" *ngIf="getChargeControlsLength() === 0">
            {{'common.no_data' | translate}}
          </div>
        </div>
      </form>





    </div>

    <div class="col-md-12 m-0">
      <div class="form-group wrap-form-action btn-onscreen">
        <button class="btn1 float-end" type="button" (click)=" onClose()">
          {{ 'common.cancel' | translate }}
        </button>
        <button *ngIf="!isShow" class="btn btn-outline-primary float-end" type="button" (click)="saveCharge()">
          {{ 'common.save' | translate }}
        </button>

      </div>
    </div>
  </div>
</div>
<!-- <ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close shadow-none" aria-label="Close" (click)="d('Cross click')">
      </button>
    </div>
    <div class="modal-body mt-4">
      <em class="ion-ios7-help-outline text-danger fs-2 text-center float-start me-2"> </em> <span
        class=" text-dark fs-6"> {{ "error.msg_delete" | translate }}</span>
    </div>
    <div class="modal-footer">
      <div class="text-center">
        <button type="button" class="btn btn-secondary  btn-sm me-3" (click)="d('Cross click')">No</button>
        <button type="button" class="btn btn-danger  btn-sm" (click)="c('yes')">Yes</button>
      </div>
    </div>
  </div>
</ng-template> -->

<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <button type="button" class="btn-close shadow-none position-absolute top-0 end-0 m-2" aria-label="Close"
      (click)="d('Cross click')"></button>
    <div class="modal-body mt-4 d-flex flex-column align-items-center justify-content-center text-center">
      <h4 class="modal-title text-center mb-3">{{ "error.msg_delete" | translate }}</h4>
      <span class="text-dark fs-8" style="padding-bottom: 10px;">This action cannot be undone.</span>
    </div>
    <div class="modal-footer d-flex justify-content-right">
      <button type="button" class="custom-btn btn btn-sm" (click)="c('yes')">
        {{ "common.yes" | translate }}
      </button>
      <button type="button" class="custom-btn btn btn-sm me-3" (click)="d('Cross click')">
        {{ "common.no" | translate }}
      </button>
    </div>
  </div>
</ng-template>