<div class="modal-dialog">
    <div class="modal-content nz-allSelect">
        <div class="modal-header">
            <h4 class="modal-title">{{ isTypeForm }} EGM</h4>
            <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" (click)="closeModal()"></button>
        </div>
        <div class="modal-body overflow-y-scroll">
            <div class="wrap-form-field padding-space modal-bottom-alignment-for-mobile-view">
            <form class="row g-3" [formGroup]="egmForm">
                
                            <div class="col-md-4">
                                <label class="form-label">Carrier<span class="text-danger">*</span></label>
                                    <nz-select class="form-select" nzShowSearch nzAllowClear
                                        formControlName="shippinglineId" 
                                        (ngModelChange)="getVesselVoyageList()"
                                        [ngClass]="{'is-invalid': submitted && f1.shippinglineId.errors}" nzPlaceHolder="Carrier">
                                        <nz-option
                                            *ngFor="let shippingLine of shippinglineData"
                                            [nzLabel]="shippingLine.name"
                                            [nzValue]="shippingLine.shippinglineId"></nz-option>
                                    </nz-select>
                                    <div *ngIf="submitted && f1.shippinglineId?.errors" class="invalid-feedback">
                                        <div *ngIf="f1.shippinglineId.errors.required">Carrier is
                                            required</div>
                                    </div>
                            </div>
                       
                            <div class="col-md-4 location-input-bottom-alignment nz-select">
                                <label class="form-label">{{"smartagent.job.list.igm.vessel" | translate}}</label>
                                <span class="text-danger">*</span>
                                <nz-select class="form-select"
                                    formControlName="vessel" nzShowSearch nzAllowClear
                                    (ngModelChange)="getVesselDetails();ngOnGetBLs($event)"
                                    [ngClass]="{'is-invalid': submitted && f1.vessel.errors}" nzPlaceHolder="Vessel">
                                    <nz-option *ngFor="let item of vesselListData" [nzLabel]="item?.vesselName"
                                        [nzValue]="item?.vesselId"></nz-option>
                                </nz-select>
                                <div *ngIf="submitted && f1.vessel.errors" class="invalid-feedback">
                                    <div *ngIf="f1.vessel.errors.required">
                                        {{ "smartagent.job.list.igm.vessel" | translate }} {{'common.isRequired'|
                                        translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 location-input-bottom-alignment">
                                <label class="form-label">{{ "smartagent.job.list.igm.voyage_no" | translate }}</label>
                                <span class="text-danger">*</span>
                                <nz-select class="form-select" 
                                    formControlName="voyage"
                                    nzShowSearch 
                                    nzAllowClear
                                    [ngClass]="{'is-invalid': submitted && f1.voyage.errors}" 
                                    nzPlaceHolder="Select Voyage">
                                    <!-- Voyage Options -->
                                    <nz-option *ngFor="let item of getvoyageList()" 
                                        [nzLabel]="item?.voyage_number" 
                                        [nzValue]="item?.voyage_number">
                                    </nz-option>
                                </nz-select>
                                <div *ngIf="submitted && f1.voyage.errors" class="invalid-feedback">
                                    <div *ngIf="f1.voyage.errors.required">
                                        {{ "smartagent.job.list.igm.voyage_no" | translate }} {{ 'common.isRequired' | translate }}
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-4 location-input-bottom-alignment nz-select">
                                <label class="form-label">{{
                                    "smartagent.job.list.igm.port" | translate
                                    }}</label><span class="text-danger">*</span>

                                <nz-select class="form-select" disabled nzShowSearch nzAllowClear
                                (ngModelChange)="ngOnGetBLs()"
                                    formControlName="port" [ngClass]="{'is-invalid': submitted && f1.port.errors}" nzPlaceHolder="Port">
                                    <nz-option *ngFor="let port of portListData" [nzLabel]="port?.portDetails?.portName"
                                        [nzValue]="port?.portId"></nz-option>
                                </nz-select>
                                <div *ngIf="submitted && f1.vessel.errors" class="invalid-feedback">
                                    <div *ngIf="f1.vessel.errors.required">
                                        {{ "smartagent.job.list.igm.vessel" | translate }} is required
                                    </div>
                                </div>
                            </div>


                        <div class="col-md-4">
                            <div class="form-field-section">
                                <label class="form-label">EGM No<span class="text-danger">*</span></label>
                                <input type="text" formControlName="egm_no" class="form-control custom-input rounded-0"
                                    placeholder="EGM No" [ngClass]="{'is-invalid': submitted && f1.egm_no.errors}" />
                                <div *ngIf="submitted && f1.egm_no.errors" class="invalid-feedback">
                                    <div *ngIf="f1.egm_no.errors.required">
                                        EGM No is required
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-field-section">
                                <label class="mb-0 p-0 form-label">EGM Date<span class="text-danger">*</span></label>
                                <mat-form-field appearance="outline" class="custom-date-picker">
                                    <div class="d-flex align-items-center  w-100">
                                        <input matInput [matDatepicker]="pickerEtan" formControlName="egmDate"
                                            class="h-0" placeholder="EGM Date"/>
                                        <mat-datepicker-toggle matSuffix [for]="pickerEtan"></mat-datepicker-toggle>
                                    </div>
                                    <mat-datepicker #pickerEtan></mat-datepicker>
                                </mat-form-field>
                                <mat-error>
                                    <div *ngIf=" submitted && f1?.egmDate?.errors?.required" class="set-error-msg">
                                        EGM Date is required
                                    </div>
                                </mat-error>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-field-section">
                                <label class="mb-0 p-0 form-label">Voyage Date</label><span class="text-danger">*</span>
                                <mat-form-field appearance="outline" class="custom-date-picker">
                                    <div class="d-flex align-items-center  w-100">
                                        <input matInput [matDatepicker]="pickerEtan1" formControlName="voyageDate"
                                            class="h-0" [disabled]="isTypeForm==='Edit'" placeholder="Voyage Date" />
                                        <mat-datepicker-toggle matSuffix [for]="pickerEtan1"></mat-datepicker-toggle>
                                    </div>
                                    <mat-datepicker #pickerEtan1></mat-datepicker>
                                </mat-form-field>
                                <mat-error>
                                    <div *ngIf=" submitted && f1?.voyageDate?.errors?.required" class="set-error-msg">
                                        Voyage Date is required
                                    </div>
                                </mat-error>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <label class="form-label">{{
                                "smartagent.job.list.igm.lastPort" | translate
                                }}<span class="text-danger">*</span></label>
                            <nz-select class="nz-form-select nz-select-width" style="border-bottom: none !important;"
                                nzShowSearch nzAllowClear formControlName="lastPort"
                                [ngClass]="{'is-invalid': submitted && f1.lastPort.errors}" nzPlaceHolder="Last Port">
                                <nz-option *ngFor="let port of portListData" [nzLabel]="port?.portDetails?.portName"
                                    [nzValue]="port?.portId"></nz-option>
                            </nz-select>
                            <div *ngIf="submitted && f1.lastPort.errors" class="invalid-feedback">
                                <div *ngIf="f1.lastPort.errors.required">
                                    {{ "smartagent.job.list.igm.lastPort" | translate }} is required
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Test / Production<span class="text-danger">*</span></label>
                            <nz-select class="nz-form-select nz-select-width" style="border-bottom: none !important;"
                                nzShowSearch nzAllowClear formControlName="testorProduction"
                                [ngClass]="{'is-invalid': submitted && f1.testorProduction.errors}" nzPlaceHolder="Test Production">
                                <nz-option *ngFor="let test of EGMTestorProduction" [nzLabel]="test?.typeName"
                                    [nzValue]="test?.typeName"></nz-option>
                            </nz-select>
                            <div *ngIf="submitted && f1.testorProduction.errors" class="invalid-feedback">
                                <div *ngIf="f1.testorProduction.errors.required">
                                    Test / Production is required
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">{{
                                "smartagent.job.list.igm.priorPort1"| translate
                                }}<span class="text-danger">*</span></label>
                            <nz-select class="nz-form-select nz-select-width" style="border-bottom: none !important;"
                                nzShowSearch nzAllowClear formControlName="priorPort1"
                                [ngClass]="{'is-invalid': submitted && f1.priorPort1.errors}" nzPlaceHolder="Prior Port">
                                <nz-option *ngFor="let port of portListData" [nzLabel]="port?.portDetails?.portName"
                                    [nzValue]="port?.portId"></nz-option>
                            </nz-select>
                            <div *ngIf="submitted && f1.priorPort1.errors" class="invalid-feedback">
                                <div *ngIf="f1.priorPort1.errors.required">
                                    {{ "smartagent.job.list.igm.priorPort1" | translate }} is required
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">{{
                                "smartagent.job.list.igm.priorPort2" | translate
                                }}<span class="text-danger">*</span></label>
                            <nz-select class="nz-form-select nz-select-width" style="border-bottom: none !important;"
                                nzShowSearch nzAllowClear formControlName="priorPort2"
                                [ngClass]="{'is-invalid': submitted && f1.priorPort2.errors}" nzPlaceHolder="Prior Port">
                                <nz-option *ngFor="let port of portListData" [nzLabel]="port?.portDetails?.portName"
                                    [nzValue]="port?.portId"></nz-option>
                            </nz-select>
                            <div *ngIf="submitted && f1.priorPort2.errors" class="invalid-feedback">
                                <div *ngIf="f1.priorPort2.errors.required">
                                    {{ "smartagent.job.list.igm.priorPort2" | translate }} is required
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-field-section">
                                <label class="form-label">{{
                                    "smartagent.job.list.igm.vesselImo" | translate
                                    }}</label><span class="text-danger">*</span>
                                <input type="text" class="form-control custom-input rounded-0"
                                    formControlName="vesselImo" placeholder="Vessel Imo"
                                    [ngClass]="{'is-invalid': submitted && f1.vesselImo.errors}" />
                                <div *ngIf="submitted && f1.vesselImo.errors" class="invalid-feedback">
                                    <div *ngIf="f1.vesselImo.errors.required">
                                        {{ "smartagent.job.list.igm.vesselImo" | translate }} is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-field-section">
                                <label class="form-label">{{
                                    "smartagent.job.list.igm.vesselcallSign" | translate
                                    }}</label><span class="text-danger">*</span>
                                <input type="text" class="form-control custom-input rounded-0"
                                    formControlName="vesselcallSign" placeholder="Vessel Call Sign"
                                    [ngClass]="{'is-invalid': submitted && f1.vesselcallSign.errors}" />
                                <div *ngIf="submitted && f1.vesselcallSign.errors" class="invalid-feedback">
                                    <div *ngIf="f1.vesselcallSign.errors.required">
                                        {{ "smartagent.job.list.igm.vesselcallSign" | translate }} is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-field-section">
                                <label class="form-label">{{
                                    "smartagent.job.list.igm.custom_line_code" | translate
                                    }}</label><span class="text-danger">*</span>
                                <input type="text" class="form-control custom-input rounded-0"
                                    formControlName="custom_line_code" placeholder="Line Code"
                                    [ngClass]="{'is-invalid': submitted && f1.custom_line_code.errors}" />
                                <div *ngIf="submitted && f1.custom_line_code.errors" class="invalid-feedback">
                                    <div *ngIf="f1.custom_line_code.errors.required">
                                        {{ "smartagent.job.list.igm.custom_line_code" | translate }} is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-field-section">
                                <label class="form-label">{{
                                    "smartagent.job.list.igm.custom_agent_code" | translate
                                    }}</label><span class="text-danger">*</span>
                                <input type="text" class="form-control custom-input rounded-0"
                                    formControlName="custom_agent_code" placeholder="Agent Code"
                                    [ngClass]="{'is-invalid': submitted && f1.custom_agent_code.errors}" />
                                <div *ngIf="submitted && f1.custom_agent_code.errors" class="invalid-feedback">
                                    <div *ngIf="f1.custom_agent_code.errors.required">
                                        {{ "smartagent.job.list.igm.custom_agent_code" | translate }} is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-field-section">
                                <label class="form-label">{{
                                    "smartagent.job.list.igm.captain" | translate
                                    }}</label><span class="text-danger">*</span>
                                <input type="text" class="form-control custom-input rounded-0" formControlName="captain"
                                    placeholder="Captain" [ngClass]="{'is-invalid': submitted && f1.captain.errors}" />
                                <div *ngIf="submitted && f1.captain.errors" class="invalid-feedback">
                                    <div *ngIf="f1.captain.errors.required">
                                        {{ "smartagent.job.list.igm.captain" | translate }} is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-field-section">
                                <label class="form-label">{{
                                    "smartagent.job.list.igm.cha"| translate
                                    }}</label><span class="text-danger">*</span>
                                <input type="text" class="form-control custom-input rounded-0" formControlName="cha"
                                    placeholder="House code" [ngClass]="{'is-invalid': submitted && f1.cha.errors}" />
                                <div *ngIf="submitted && f1.cha.errors" class="invalid-feedback">
                                    <div *ngIf="f1.cha.errors.required">
                                        {{ "smartagent.job.list.igm.cha" | translate }} is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-field-section">
                                <label class="form-label">{{
                                    "smartagent.job.list.igm.toc"| translate
                                    }}</label><span class="text-danger">*</span>
                                <input type="text" class="form-control custom-input rounded-0" formControlName="toc"
                                    placeholder="Operator Code" [ngClass]="{'is-invalid': submitted && f1.toc.errors}" />
                                <div *ngIf="submitted && f1.toc.errors" class="invalid-feedback">
                                    <div *ngIf="f1.toc.errors.required">
                                        {{ "smartagent.job.list.igm.toc" | translate }} is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-field-section">
                                <label class="form-label">{{
                                    "smartagent.job.list.igm.light_dues" | translate
                                    }}</label><span class="text-danger">*</span>
                                <input type="number" class="form-control custom-input rounded-0"
                                    formControlName="light_dues" placeholder="house dues"
                                    [ngClass]="{'is-invalid': submitted && f1.light_dues.errors}" />
                                <div *ngIf="submitted && f1.light_dues.errors" class="invalid-feedback">
                                    <div *ngIf="f1.light_dues.errors.required">
                                        {{ "smartagent.job.list.igm.light_dues" | translate }} is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-field-section">
                                <label class="form-label">{{
                                    "smartagent.job.list.igm.briefCargoForigm" | translate
                                    }}</label><span class="text-danger">*</span>
                                <input type="text" class="form-control custom-input rounded-0"
                                    formControlName="briefCargoForegm" placeholder="Description"
                                    [ngClass]="{'is-invalid': submitted && f1.briefCargoForegm.errors}" />
                                <div *ngIf="submitted && f1.briefCargoForegm.errors" class="invalid-feedback">
                                    <div *ngIf="f1.briefCargoForegm.errors.required">
                                       Brief Cargo Description is required
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="taggle form-check form-switch forswitch">

                                <input class="form-check-input" formControlName="sbc" type="checkbox"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{
                                    "smartagent.job.list.igm.sbc" | translate
                                    }}</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="taggle form-check form-switch forswitch">

                                <input class="form-check-input" formControlName="ssd" type="checkbox"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{
                                    "smartagent.job.list.igm.ssd" | translate
                                    }}</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="taggle form-check form-switch">

                                <input class="form-check-input" formControlName="cld" type="checkbox"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{
                                    "smartagent.job.list.igm.cld" | translate
                                    }}</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="taggle form-check form-switch">

                                <input class="form-check-input" formControlName="pld" type="checkbox"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{
                                    "smartagent.job.list.igm.pld" | translate
                                    }}</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="taggle form-check form-switch">

                                <input class="form-check-input" formControlName="ced" type="checkbox"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{
                                    "smartagent.job.list.igm.ced" | translate
                                    }}</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="taggle form-check form-switch">

                                <input class="form-check-input" formControlName="md" type="checkbox"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{
                                    "smartagent.job.list.igm.md" | translate

                                    }}</label>
                            </div>
                        </div>
                    
                
                <div class="table-responsive-main">
                    <div class="costtable">
                        <table aria-describedby="mytable">
                            <tr class="field-name">
                                <th scope="col">Sr. No</th>
                                <th scope="col">{{ 'stolt.batch.bl.bl_no' | translate }}</th>
                                <th scope="col">{{ 'stolt.batch.bl.item_type' | translate }}</th>
                                <th scope="col">{{ 'stolt.batch.bl.item_No'| translate }}</th>
                                <th scope="col">{{ 'stolt.batch.bl.POD' | translate }}</th>
                                <th scope="col">{{ 'stolt.batch.bl.date_of_issue' | translate }}</th>
                                <th scope="col">{{ 'stolt.batch.bl.BilltoParty' | translate }}</th>
                            </tr>
                            <tr *ngFor="let bl of blList;let i=index;">
                                <td>{{i+1}}<input type="checkbox" [id]="i" [(ngModel)]="bl.selected"
                                        [ngModelOptions]="{standalone: true}" /></td>
                                <td>
                                    <em [ngClass]="!bl.isExpanded ? 'bi bi-arrow-down' : 'bi bi-arrow-up'"
                                        (click)="onShowDetails(bl);bl.isExpanded = !bl.isExpanded"></em>
                                    {{ bl.blNumber }}
                                    <div *ngIf="bl.isExpanded" class="wrap-full-details">
                                        <div class="table-responsive" formArrayName="containerArray">
                                            <div class="costtable">
                                                <table aria-describedby="mytable">
                                                    <!-- <thead>
                                                        <tr class="field-name">
                                                            <th scope="col"></th>
                                                            <th scope="col">{{
                                                                "smartagent.job.list.igm.container_table.container_no" |
                                                                translate }}
                                                            </th>
                                                            <th scope="col">{{
                                                                "smartagent.job.list.igm.container_table.eseal" |
                                                                translate
                                                                }}
                                                            </th>
                                                            <th scope="col">{{
                                                                "smartagent.job.list.igm.container_table.no_of_packages"
                                                                |
                                                                translate
                                                                }}
                                                            </th>
                                                            <th scope="col">{{
                                                                "smartagent.job.list.igm.container_table.netWt" |
                                                                translate }}
                                                            </th>
                                                            <th scope="col">{{
                                                                "smartagent.job.list.igm.container_table.hsn_code"
                                                                | translate }}</th>
                                                            <th scope="col">{{
                                                                "smartagent.job.list.igm.container_table.status" |
                                                                translate }}</th>
                                                            <th scope="col">{{
                                                                "smartagent.job.list.igm.container_table.line_no"
                                                                | translate }}</th>
                                                            <th scope="col">{{
                                                                "smartagent.job.list.igm.container_table.subline_no" |
                                                                translate
                                                                }}</th>
                                                            <th scope="col">{{
                                                                "smartagent.job.list.igm.container_table.agentCode" |
                                                                translate
                                                                }}</th>
                                                        </tr>
                                                    </thead> -->
                                                    <tbody>
                                                        <tr *ngFor="let container of igmForm.get('containerArray')?.controls; let CM= index"
                                                            [formGroupName]="CM">
                                                            <td><input type="checkbox" class="d-flex align-items-center" formControlName="isSelected">
                                                            </td>
                                                            <td>{{container?.get('containerNumber')?.value}}</td>
                                                            <td>{{container?.get('eSeal')?.value}}</td>
                                                            <td>{{container?.get('noOfPackages')?.value}}</td>
                                                            <td>{{container?.get('netWeight')?.value}}</td>
                                                            <td>{{container?.get('hsnCode')?.value}}</td>

                                                            <td><input type="text" formControlName="lineNo"
                                                                    class="width100px form-control custom-input"
                                                                    id="lineNo" />
                                                            </td>
                                                            <td><input type="text" formControlName="subLineNo"
                                                                    class="width100px form-control custom-input"
                                                                    id="subLineNo" />
                                                            </td>
                                                            <td><input type="text" formControlName="agentCode"
                                                                    class="width100px form-control custom-input"
                                                                    id="agentCode" />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    LC
                                </td>
                                <td>
                                    <input type="text" [(ngModel)]="bl.itemNo" [ngModelOptions]="{standalone: true}" />
                                </td>
                                <td>
                                    {{bl?.entryPort}}
                                </td>
                                <td>
                                    {{ bl?.blDate | date:"dd/MM/YYYY" }}
                                </td>
                                <td>
                                    {{ bl?.consigneeName
                                    }}
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
                    <div class="col-md-12 wrap-form-action m-2">
                    <div class="form-group wrap-form-action">
                        <button class="btn1 btn-lg float-end" (click)="closeModal()" type="submit">
                            {{ "common.cancel" | translate }}
                        </button>
                        <button *ngIf="!isShow && !saveButtonDisabled" class="btn btn-outline-primary btn-lg float-end" (click)="ngOnSave()"
                            type="submit"
                            [disabled]="saveButtonDisabled">
                            {{ isTypeForm==='Edit' ? 'Update' : 'Save'}}
                        </button>
                        <button *ngIf="!isShow" class="btn btn-outline-primary btn-lg float-end" (click)="onDownload()"
                            type="submit">
                            {{ "common.download" | translate }}
                        </button>
                    </div>
                        <div class="p-3">

                        </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>