@import '../../../../assets/styles/mixins/global.scss';

.form-check-input:checked {
    border-color: var(--link-text-color);
}
.overflow-y-scroll {
    overflow-y: auto;
    max-height: 700px; /* Adjust this value as needed */
  }
.location-input-bottom-alignment {
	@media screen and (max-width: 767px)  {
		padding: 0 15px 20px 15px;
	}
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Location Name"; }
	td:nth-of-type(2):before { content: "Port Type"; }
	td:nth-of-type(3):before { content: "City, Country "; }
	td:nth-of-type(4):before { content: "Action"; }
}

.location-input-bottom-alignment {
	@media screen and (max-width: 767px)  {
		padding: 0 15px 20px 15px;
	}
}
.forswitch{
    margin-top: 28px;
}
.form-accordian h2 button {
   padding: 7px 15px !important;
   box-shadow: none !important;
   font-size: 14px !important;
   color: var(--theme-black-320) !important;
  background-color: var(--theme-light-bg) !important;
 }
 
 .form-accordian .accordion-button::after {
  filter: none !important;
 }
 
 .form-accordian .accordion-item {
   margin-bottom: 25px;
   border: 0;
 }
 
 .form-accordian .accordion-item:last-child {
   margin-bottom: 0px;
 }
 .accordion-item  {
   button {
     width: 100% !important;
     display: flex;
     align-items: center;
     @include new-heading-14;
   }
 }
 ::ng-deep {
   .cdk-overlay-container,
   .cdk-overlay-pane {
     z-index: 2000 !important;
   }

 }

 .globally-chnage-mobile-view{
  margin-bottom: 10px;
 }

.table-responsive {
    margin-top: 20px;
    max-height: 320px;

    table {
        border-spacing: 0 0px;

        td {
            border: 0;
            border-bottom: 1px solid #e3e3e3;

            &:first-child,
            &:last-child {
                border-radius: 0;
            }
        }
    }
}

.table-responsive-main {
    margin-top: 20px;

    table {
        border-spacing: 0 0px;

        td {
            border: 0;
            border-bottom: 1px solid #e0e0e0;

            &:first-child,
            &:last-child {
                border-radius: 0;
            }
        }
    }
}

.costtable table {
    border-collapse: collapse;
    width: 100%;
}

.costtable th {
    background-color: #f5f5f5;
}

.costtable th,
.costtable td {
    padding: 8px;
    text-align: left;
    border: 1px solid #e0e0e0;
}

.costtable td.bnull {
    border: 0px !important;
    border-bottom: 1px solid #bbb !important;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    .costtable table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    .costtable table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .costtable table tr {
        border: 1px solid var(--theme-globally-border-color);
        margin: 0 0 1rem 0;
    }

    .costtable table td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid var(--theme-globally-border-color);
        position: relative;
        padding-left: 50%;
    }

    .costtable table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: fit-content;
        padding-right: 10px;
        white-space: nowrap;
    }

    .costtable table .action-field {
        text-align: left;
    }

    .costtable td:nth-of-type(1):before {
        content: "Optional Charge";
    }

    .costtable td:nth-of-type(2):before {
        content: "Charge Name";
    }

    .costtable td:nth-of-type(3):before {
        content: "Vessel Unit";
    }

    .costtable td:nth-of-type(4):before {
        content: "Unit";
    }

    .costtable td:nth-of-type(5):before {
        content: "Zero";
    }

    .costtable td:nth-of-type(6):before {
        content: "Currency";
    }

    .costtable td:nth-of-type(7):before {
        content: "Exc.Rate";
    }

    .costtable td:nth-of-type(8):before {
        content: "QTY";

    }

    .costtable td:nth-of-type(9):before {
        content: "Rate Unit";

    }

    .costtable td:nth-of-type(10):before {
        content: "AMT in FC";

    }

    .costtable td:nth-of-type(11):before {
        content: "AMT in INR";

    }

    .costtable td:nth-of-type(12):before {
        content: "GST";

    }

    .costtable td:nth-of-type(13):before {
        content: "Action";
    }

}


::ng-deep {
    .wrap-modal-autosearch {
        nz-select {

            input,
            select {
                padding: 0 0px !important;
                border-bottom: 0px !important;
            }
        }

        .nz-form-select.wrap-inline-select nz-select-top-control {
            height: 32px !important;
        }
    }

    .cdk-overlay-container,
    .cdk-overlay-pane {
        z-index: 2000 !important;
    }
}

.nz-select-width {
    width: 100%;
}

.taggle {
    label {
        margin-left: 40px;
    }
}

// ::ng-deep.ant-select-selector {
//     // border: none !important;
// }

.table-responsive {
    overflow-x: auto;
}