<div class="table-with-gheading">
    <div class="wrap-content">
        <div class="row mb-5">
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">VESSEL NAME & VOY -  ETA</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">BL Number & BL Date</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">Consignee Name</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">Consignee Address</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">Invoicing Party GSTN No.</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">Invoicing Party</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">Invoicing Party Address</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">POL</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">POD</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">ICD OR  T/P LOCATION (IF ANY)</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">TANK NO. (Seal No)</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">Cargo Description </label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">Gross Weight (UOM)</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">SHIPPING LINE</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">AGENT FILING OR CARRIER FILING OF IGM</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">HBL FREIGHT PREPAID OR COLLECT</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">THC PREPAID OR COLLECT HBL </label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">HBL ORIGINAL OR SEAWAY B/L</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">DPD  & NON DPD TANK MOVEMENT TO CFS </label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">CFS </label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">Free Days</label>
            </div>
            <div class="col-md-3 my-2 ">
                <input class="" type="checkbox"  id="" >
                  <label class="form-label mx-2">Detention Rate Per Day</label>
            </div>
            <div class="btn-onscreen  my-3">
                <div class="form-group wrap-form-action ">
                    <button class="btn btn-outline-primary float-end" (click)="back()">
                        Back </button>
                </div>
            </div>
        </div>
    </div>
</div>